﻿<%@ Page Title="" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="go-tim-thay.aspx.cs" Inherits="go_tim_thay" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="laughs">
        <div class="container">
            <div class="head-menu">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="site-node">Go tìm sẽ thấy</p>
                    </div>
                    <div class="col-lg-6">
                        <asp:RadioButtonList CssClass="list-filter" ID="RadioButtonList1" 
                            runat="server" RepeatDirection="Horizontal">
                            <asp:ListItem>Fun Quote/ Message</asp:ListItem>
                            <asp:ListItem>Fun picture</asp:ListItem>
                            <asp:ListItem>Fun clip/ video</asp:ListItem>
                        </asp:RadioButtonList>
                    </div>
                </div>
            </div>
            <div class="head-menu head-img">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="title">Album ảnh</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="pager">
                            <a href="#">1</a> <a href="#">2</a> <a href="#">3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="go-for-laughs">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="text-art"><span><strong>Nụ cười chiến thắng</strong></span></span>
                                </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="text-art"><span><strong>Nụ cười chiến thắng</strong></span></span>
                                </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="text-art"><span><strong>Nụ cười chiến thắng</strong></span></span>
                                </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="text-art"><span><strong>Nụ cười chiến thắng</strong></span></span>
                                </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="box-articles">
                            <a class="articles-img bcover" href="#">
                                <img class="img-responsive" src="assets/images/images-1.jpg" alt="" />
                                <span class="mask-video"></span>
                                 </a>
                        </div>
                    </div>
                </div>
                <div class="pager">
                    <a href="#">1</a> <a href="#">2</a> <a href="#">3</a>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphPopup" Runat="Server">
</asp:Content>

