﻿<%@ Page Title="" Language="C#" MasterPageFile="~/site-sub2.master" AutoEventWireup="true" CodeFile="xem-de-cuoi-chi-tiet.aspx.cs" Inherits="choi_de_hieu_chi_tiet" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
   <%-- <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"
        type="text/javascript"></script>--%>
    <script src="assets/js/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "5qMQ1qMprX8KZ79H695ZPnH4X4zDHiI0rCXt1g==";</script>

    <meta property="og:type" content="article" />
    <%--đường link muốn share--%>
    <meta property="og:url" content='<%= Request.Url.Scheme + "://" + Page.Request.Url.Host.ToString() + "/" + Request.Url.AbsolutePath.Substring(Request.Url.AbsolutePath.LastIndexOf("/") + 1) %>' />
    <%--tiêu đề muốn share--%>
    <meta property="og:title" content='<%= hdnTitle.Value %>' />
    <%--hình ảnh muốn share--%>
    <%--mô tả muốn share--%>
    <meta property="og:description" content='<%= hdnDescription.Value %>' />
    <meta name="thumbnail" content='<%= Request.Url.Scheme + "://" + (hdnCID.Value=="1"?Page.Request.Url.Host.ToString() + "/res/watchLaugh/quote/":hdnCID.Value=="2"?Page.Request.Url.Host.ToString() + "/res/watchLaugh/picture/":Page.Request.Url.Host.ToString() + "/res/watchLaugh/video/thumbs/") + hdnImageName.Value  %>' />
    <meta property="og:image" content='<%= Request.Url.Scheme + "://" + (hdnCID.Value=="1"?Page.Request.Url.Host.ToString() + "/res/watchLaugh/quote/":hdnCID.Value=="2"?Page.Request.Url.Host.ToString() + "/res/watchLaugh/picture/":Page.Request.Url.Host.ToString() + "/res/watchLaugh/video/thumbs/") + hdnImageName.Value  %>' />
    <%--tên website muốn share--%>
    <meta property="og:site_name" content='<%= Request.Url.Scheme + "://" +Page.Request.Url.Host.ToString()%>' />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:HiddenField ID="hdnImageName" runat="server" />
    <asp:HiddenField ID="hdnTitle" runat="server" />
    <asp:HiddenField ID="hdnDescription" runat="server" />
    <asp:HiddenField ID="hdnCID" runat="server" />
    <div class="wrap-section-b">
        <asp:ListView ID="ListView1" runat="server"
            DataSourceID="ObjectDataSource1"
            EnableModelValidation="True">
            <ItemTemplate>
                <div id="site">
                    <a href="xem-de-cuoi.aspx">Xem để cười</a><span><%# Eval("Title") %></span>
                </div>
                <h1 class="title-6"><span><%# Eval("Title") %></span></h1>
                <div class="head-b line">
                    <span class="head-name">Đăng tin: <strong><%# Eval("Createby") %></strong></span>
                    <span class="head-name">NGUỒN: <strong><%# Eval("WatchLaughOrigin") %></strong></span>
                    <div class="like-boxb btn-baotrung">
                        <p class="more-a "><a href="javascript:void(0);" class="btrung" data-toggle="modal" data-target="#popupbaotrung">Báo trùng</a></p>

                    </div>
                </div>
                <div class="head-b">
                    <span class="views">Lượt xem: <strong><%# Eval("Views") %></strong></span>
                </div>
                <div class="wrap-text-2">
                    <asp:Panel ID="pnQuote" Visible='<%# Eval("WatchLaughCategoryID").ToString() == "1"? true: false %>' runat="server">
                        <div class="boxm-b">
                            <div class="boxm-img">
                                <img id="Img2" alt='<%# Eval("ImagePath") %>' src='<%# string.IsNullOrEmpty( Eval("ImagePath").ToString())? "http://www.liveplus.vn/Uploads/Background/" + SiteCode.RamdomBackground():"~/res/watchLaugh/quote/" + Eval("ImagePath") %>'
                                    runat="server" class="img-responsive" />
                                <div class="boxm-text">
                                    <div class="in-text"><%# Eval("WatchLaughQuote") %></div>
                                </div>
                                <div class="boxm-mask"></div>
                            </div>
                        </div>
                    </asp:Panel>
                    <asp:Panel ID="pnPicture" Visible='<%# Eval("WatchLaughCategoryID").ToString() == "2"? true: false %>' runat="server">
                        <div class="boxm-b">
                            <div class="boxm-img">
                                <img id="Img1" alt='<%# Eval("ImagePath") %>' src='<%# "http://www.liveplus.vn/res/watchLaugh/picture/" + Eval("ImagePath") %>'
                                    visible='<%# string.IsNullOrEmpty( Eval("ImagePath").ToString()) ? false : 
true %>'
                                    runat="server" class="img-responsive" />
                            </div>
                        </div>
                    </asp:Panel>
                    <asp:Panel ID="pnVideo" Visible='<%# Eval("WatchLaughCategoryID").ToString() == "3"? true: false %>' runat="server">
                        <div class="boxm-b">
                            <%--<div class="description"><%# Eval("Description") %></div>--%>
                            <div class="boxm-img boxm-video">
                                <div id='jwplayer'></div>
                                <script type='text/javascript'>
                                    jwplayer('jwplayer').setup({
                                        file: '<%#  "http://www.liveplus.vn/res/watchLaugh/video/" + Eval("VideoPath") %>',
                                        image: '<%#  "http://www.liveplus.vn/res/watchLaugh/video/thumbs/"+ Eval("ImagePath") %>',
                                        <%--title: '<%# Eval("Title") %>',--%>
                                        width: '100%',
                                        aspectratio: '16:9'
                                    });
                                </script>

                            </div>
                        </div>
                    </asp:Panel>
                    <%--            <div class="boxm-b">
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="boxm-img">
                    <img src="assets/images/images-a.jpg" alt=""/>
                </div>
            </div>
            <div class="boxm-b">
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="boxm-img">
                    <img src="assets/images/images-a.jpg" alt=""/>
                    <div class="boxm-text"><div class="in-text">Cuộc thi Giao thông thông minh trên internet</div></div>
                    <div class="boxm-mask"></div>
                </div>
            </div>--%>
                    <div class="more-a1">
                        <div class="fb-like" data-href='<%= Page.Request.Url.AbsolutePath %>'
                            data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
                        </div>
                        <%--<a name="fb_share" type="button_count" expr:share_url="data:post.url" share_url='<%= Page.Request.Url.AbsolutePath%>'>Chia Sẻ</a>--%>
                     
                    </div>
                    <%-- <p class="more-b">
                        <asp:LinkButton ID="btnVote" OnClick="btnVote_Click"
                            ToolTip="Bình chọn" runat="server"><span>Bình chọn</span></asp:LinkButton>
                    </p>--%>
                </div>
                <div class="wrap-comment">
                    <h2 class="order-title">Bình luận</h2>
                    <div class="fb-comments" data-href='<%=  Page.Request.Url.Host.ToString()+ Page.Request.Url.AbsolutePath.ToString()%>' data-width="890"></div>
                </div>
            </ItemTemplate>
            <LayoutTemplate>
                <span runat="server" id="itemPlaceholder" />
            </LayoutTemplate>
        </asp:ListView>
        <asp:ObjectDataSource ID="ObjectDataSource1" runat="server"
            SelectMethod="WatchLaughSelectOne"
            TypeName="TLLib.WatchLaugh">
            <SelectParameters>
                <asp:QueryStringParameter Name="WatchLaughID" QueryStringField="xc" Type="String" />
            </SelectParameters>
        </asp:ObjectDataSource>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphSibar" runat="Server">
    <div class="box-works">
        <div class="works-bb">
            <div class="works-bc">
                <div class="works-bl">
                    <div class="works-br">
                        <div class="works-bt">
                            <div class="works-head">
                                <h3>Gửi tác phẩm</h3>
                                <p>GO XEM ĐỂ CƯỜI</p>
                            </div>
                            <div class="works-content">Với mỗi tác phẩm hài (có hoặc không liên quan đến giao thông), bạn sẽ là nhân tố quyết định trong việc xây dựng GOsmart</div>
                            <p class="more">
                                <a href="javascript:void(0);" data-toggle="modal" data-target='<%= System.Web.HttpContext.Current.User.Identity.IsAuthenticated ?"#registersite" : "#registerloginsite" %>'>Gửi tác
                                                phẩm</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <asp:ListView ID="ListView2" runat="server"
        DataSourceID="ObjectDataSource2"
        EnableModelValidation="True">
        <ItemTemplate>
            <div class="box-adv">
                <a href='<%# Eval("Website") %> '>
                    <img class="img-responsive" id="Img1" alt='<%# Eval("ImagePath") %>' src='<%# "http://www.liveplus.vn/res/advertisement/" + Eval("FileName") %>' visible='<%# string.IsNullOrEmpty( Eval("FileName").ToString()) ? false : 
true %>'
                        runat="server" />
                </a>

            </div>
        </ItemTemplate>
        <LayoutTemplate>
            <span runat="server" id="itemPlaceholder" />
        </LayoutTemplate>
    </asp:ListView>
    <asp:ObjectDataSource ID="ObjectDataSource2" runat="server" SelectMethod="AdsBannerSelectAll"
        TypeName="TLLib.AdsBanner">
        <SelectParameters>
            <asp:Parameter Name="StartRowIndex" Type="String" DefaultValue="1" />
            <asp:Parameter Name="EndRowIndex" Type="String" DefaultValue="2" />
            <asp:Parameter Name="AdsCategoryID" Type="String" DefaultValue="6" />
            <asp:Parameter Name="CompanyName" Type="String" />
            <asp:Parameter Name="Website" Type="String" />
            <asp:Parameter Name="FromDate" Type="String" />
            <asp:Parameter Name="ToDate" Type="String" />
            <asp:Parameter DefaultValue="true" Name="IsAvailable" Type="String" />
            <asp:Parameter Name="Priority" Type="String" />
            <asp:Parameter DefaultValue="true" Name="SortByPriority" Type="String" />
        </SelectParameters>
    </asp:ObjectDataSource>
    <div class="box-list">
        <h2 class="title-d">Các tác phẩm khác</h2>
        <div id="boxab" class="box-ab">
            <div id="abfirst">
                <asp:ListView ID="ListView3" runat="server"
                    DataSourceID="ObjectDataSource3"
                    EnableModelValidation="True">
                    <ItemTemplate>

                        <div class="box-art">
                            <a href='<%# progressTitle(Eval("Title")) + "-xc-" + Eval("WatchLaughID") +".aspx" %>' class="art-img bcover">
                                <img id="Img2" alt='<%# Eval("ImagePath") %>' src='<%# (Eval("WatchLaughCategoryID").ToString() =="1" ? (Eval("ImagePath") != DBNull.Value ? "http://www.liveplus.vn/res/watchlaugh/quote/" : "http://www.liveplus.vn/Uploads/Background/") : Eval("WatchLaughCategoryID").ToString() =="2" ? "http://www.liveplus.vn/res/watchlaugh/picture/": "http://www.liveplus.vn/res/watchlaugh/video/thumbs/") + (Eval("WatchLaughCategoryID").ToString() =="1" ? (Eval("ImagePath") != DBNull.Value ? Eval("ImagePath") : SiteCode.RamdomBackground()) : Eval("ImagePath")) %>'
                                    visible='<%# Eval("WatchLaughCategoryID").ToString() !="1" && string.IsNullOrEmpty( Eval("ImagePath").ToString()) ? false : 
true %>'
                                    runat="server" class="img-responsive" />

                                <%# Eval("WatchLaughCategoryID").ToString() =="3"? "<span class='mask-video'></span>" : ""%>
                                <span class='<%# Eval("WatchLaughCategoryID").ToString() =="1"?"text-art": "hidden" %>'><strong><%# TLLib.Common.SplitSummary(Eval("WatchLaughQuote").ToString(),20) %></strong></span>

                            </a>
                            <div class="art-content">
                                <h3 class="art-name"><a href='<%# progressTitle(Eval("Title")) + "-xc-" + Eval("WatchLaughID") +".aspx" %>'><%# Eval("Title") %></a></h3>
                                <p class="hot-see">Lượt xem: <strong><%# Eval("Views") %></strong></p>
                                <div class="articles-content">
                                    <p class="line">Đăng tin: <span><%# Eval("Createby") %></span></p>
                                    <p>Tiêu đề: <span><%# Eval("Title") %></span></p>
                                </div>
                            </div>
                        </div>

                    </ItemTemplate>
                    <LayoutTemplate>
                        <span runat="server" id="itemPlaceholder" />
                    </LayoutTemplate>
                </asp:ListView>

            </div>
            <p class="pagerb">
                <span class="slider-prev"></span><span class="slider-next"></span>
            </p>
        </div>
    </div>
    <asp:ObjectDataSource ID="ObjectDataSource3" runat="server" SelectMethod="WatchLaughSameSelectAll"
        TypeName="TLLib.WatchLaugh">
        <SelectParameters>
            <asp:Parameter Name="RerultCount" Type="String" DefaultValue="100" />
            <asp:QueryStringParameter DefaultValue="" Name="WatchLaughID" QueryStringField="xc" Type="String" />
        </SelectParameters>
    </asp:ObjectDataSource>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphPopup" runat="Server">
</asp:Content>

