﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="popuppage_Login" %>


<%@ Register Src="~/uc/registerloginsite.ascx" TagPrefix="uc1" TagName="registerloginsite" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
    <form id="form1" runat="server" action="popuppage/Login.aspx">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
	<script type="text/javascript" lang="javascript">
            Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(BeginRequestHandler);
            function BeginRequestHandler(sender, args) {
                var vs = document.getElementById("__VIEWSTATE");
                vs.parentNode.removeChild(vs);
            }
        </script>
        <uc1:registerloginsite runat="server" ID="registerloginsite" />
    </form>
</body>
</html>
