﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SuccXemDeCuoi.aspx.cs" Inherits="popuppage_Login" %>

<%@ Register Src="~/uc/successacc.ascx" TagPrefix="uc1" TagName="successacc" %>




<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <form id="form1" runat="server" action="popuppage/SuccXemDeCuoi.aspx">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <uc1:successacc runat="server" ID="successacc" />
    </form>
</body>
</html>
