﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SuccChoiDeHieu.aspx.cs" Inherits="popuppage_Login" %>

<%@ Register Src="~/uc/successCDH.ascx" TagPrefix="uc1" TagName="successCDH" %>


<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <form id="form1" runat="server" action="popuppage/SuccXemDeCuoi.aspx">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <uc1:successCDH runat="server" ID="successCDH" />
    </form>
</body>
</html>
