﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UploadXemDeCuoi.aspx.cs" Inherits="popuppage_Login" %>


<%@ Register Src="~/uc/uploadGoSee.ascx" TagPrefix="uc1" TagName="uploadGoSee" %>


<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <form id="form1" runat="server" action="popuppage/UploadXemDeCuoi.aspx">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <uc1:uploadGoSee runat="server" ID="uploadGoSee" />
    </form>
</body>
</html>
