﻿
.map #start{
   vertical-align: middle;
border: 1px solid #ccc;
color: #666;
height: 25px;
font-size: 10px;
width: 350px;
padding-left: 2px;
}

.map i {
    color: #666;
    font-size: 10px;
}

.map .getdiretion {
    background: #fff;
    border: 1px solid #ccc;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 10px 3px 10px;
    vertical-align: middle;
}

.map #directionsPanel, .map #directionsPanel1, .map #directionsPanel2 {
    height: 100%;
}

    .map #directionsPanel I, .map #directionsPanel1 I, .map #directionsPanel2 I {
        font-size: 10px;
        color: #666;
    }
