.watch-flaughs .jcarousel-wrapper 
{
    clear: both;
    margin: 20px auto 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

/** Carousel **/

.watch-flaughs .jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.watch-flaughs .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.watch-flaughs .jcarousel li {
    width: 240px;
    float: left;
}

.watch-flaughs .jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.watch-flaughs .jcarousel-control-prev,
.watch-flaughs .jcarousel-control-next 
{
    background: url(../images/control-sl.png) no-repeat left top;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    text-indent: -9999em;
    width: 16px;
    height: 30px;
    z-index: 10;
}
.watch-flaughs .jcarousel-control-prev,
.watch-flaughs .jcarousel-control-next 
{
    top: 33%;
}
.watch-flaughs .jcarousel-control-prev {
    left: -25px;
    background-position: 0 0;
}

.watch-flaughs .jcarousel-control-next {
    right: -25px;
    background-position: -16px 0;
}

/** Carousel Pagination **/

.watch-flaughs .jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.watch-flaughs .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.watch-flaughs .jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
