/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/EInbV5DfGHOiMmvb1Xr-hhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../fonts/PRmiXeptR36kaC0GEAetxv25ds880Du_gFZbUlZlsbg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/O4NhV7_qs9r9seTo7fnsVD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../fonts/PRmiXeptR36kaC0GEAetxsUW6j0fiq4_bYOAoMNnBhA.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/PRmiXeptR36kaC0GEAetxpXMLUeV6_io0G3F6eXSVcg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../fonts/PRmiXeptR36kaC0GEAetxjZJchHK-lPtiIaM3GRtbZU.woff) format('woff');
}
body
{
    font-family: 'Open Sans';
}

.clr
{
    clear: both;
}

a:link, a:visited
{
    font-size: 12px;
    outline: none;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

fieldset, a img, img
{
    border: none;
}

:focus
{
    outline: none;
}

.show-mobile, .mobile-s980
{
    display: none !important;
}

.show-desktop, .desktop-s980
{
    display: block !important;
}
.hidden-visible
{
    left: -9999em;
    top: -9999em;
    position: fixed;
    visibility: hidden;
    z-index: -1;
}

#header-top .link-a:hover
{
    background: #fdf000;
    text-decoration: none;
}
#menu-top
{
    float: right;
    text-align: center;
    width: 160px;
}
#menu .menu-sub
{
    background: #fff;
    border: solid 1px #d5d5d5;
    display: none;
    left: 0;
    top: 100%;
    position: absolute;
    overflow: hidden;
    margin-top: -1px;
    z-index: 1;
}

.menu-list
{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 980px;
}

.menu-list > li
{
    float: left;
    width: 25%;
}

.menu-list li .box-menu
{
    border-right: solid 1px #ebebeb;
    display: block;
    padding: 0 20px;
    margin: 20px 0;
}

.menu-list li .box-menu span
{
    display: block;
}
#menu-top, #menu-top a
{
    color: #d0d0d0;
    font-size: 11px;
    line-height: 25px;
}

#menu-top a
{
    margin: 0 2px;
}

#menu-top a:hover, #menu-top a.active
{
    color: #fdf000;
    text-decoration: none;
}

#menu
{
    margin-top: 20px;
    position: relative;
}

#menu > li
{
    position: static;
}

#menu > li > a
{
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
    line-height: 44px;
    text-transform: uppercase;
    padding: 0 17px;
    position: relative;
    z-index: 10;
}

#menu > li.active > a, #menu > li > a:hover
{
    background: none;
    border-bottom: none;
    color: #f15b22;
}
#header
{
    background: url(../images/header-bgg.png) repeat left top;
    position: relative;
    z-index: 10;
}

#header-w
{
    background: url(../images/header-bg.png) repeat-x left top;
    border: none;
    margin: 0;
}

#header-bottom
{
}

#logo
{
    float: left;
    margin-bottom: 14px;
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 94px;
}

#logo a
{
    margin: 0;
    padding: 0;
    height: 65px;
}

#header-top .link-a
{
    background: #000;
    border: solid 1px #4b4b4b;
    color: #a6a6a6;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 3px;
    padding: 0 5px;
    min-width: 84px;
}
#search
{
    overflow: hidden;
    position: relative;
    height: 25px;
    margin: 0 auto;
    width: 96%;
}

#serachtop
{
    border: none;
    float: right;
    height: 25px;
    position: relative;
    width: 32px;
}

#search .search-text, #serachtop .search-text
{
    background: #fff;
    border: solid 1px #4b4b4b;
    float: left;
    height: 25px;
    line-height: 18px;
    padding: 2px 9px 3px;
}

#search .search-text
{
    width: 80%;
}

#serachtop .search-text
{
    right: 0;
    top: 0;
    position: absolute;
    width: 0;
    z-index: 1;
}

#search .search-btn, #serachtop .search-btn
{
    background: #000 url(../images/search-btn.png) no-repeat center center;
    border: solid 1px #4b4b4b;
    cursor: pointer;
    position: relative;
    height: 25px;
    z-index: 10;
}

#serachtop .search-btn
{
    width: 32px;
}

#search .search-btn
{
    float: right;
    width: 19%;
}
.navbar-toggle
{
    background: #73d0f6;
}

.navbar-toggle .icon-bar
{
    background: #fff;
}

.menu-list .name-m
{
    background: url(../images/icon-10.png) no-repeat left 5px;
    color: #3f3f3f;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 8px;
    line-height: 16px;
    height: 32px;
}

.menu-list .menu-img img
{
}

#menu > li.m-hover > a:hover, #menu > li.m-hover:hover > a
{
    background: #fff;
    border: solid 1px #d5d5d5;
    border-bottom: none;
    line-height: 43px;
    padding: 0 16px;
    color: #f15b22;
}

.menu-list li a.box-menu:hover .name-m, .menu-list li.active a.box-menu .name-m
{
    color: #f15b22;
}

#menu a:hover
{
    text-decoration: none;
}

.boxm-menu
{
    border-right: solid 1px #ebebeb;
    padding: 0 5px 5px 20px;
}

.boxm-menu .name-news, .boxm-menu h4
{
    margin: 0;
    padding: 0;
}

.boxm-menu .name-news a
{
    color: #565656;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

.boxm-menu h4
{
    color: #565656;
    font-size: 10px;
    text-transform: uppercase;
    margin: 10px 0 5px;
}

#menu .nmp
{
    margin-bottom: 0;
}

#menu .nmp .name-m
{
    height: 24px;
}

.boxm-menu .me-list
{
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.boxm-menu .me-list li
{
    margin-bottom: 5px;
}

.boxm-menu .me-list li a
{
    background: url(../images/icon-17.png) no-repeat left 6px;
    color: #8a8a8a;
    display: block;
    font-size: 11px;
    line-height: 16px;
    padding-left: 14px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
    background: #f57c20;
    color: #fff;
}

#menu > li.open > a
{
    color: #fff;
}

#menu .dropdown-menu li a
{
    background: url(../images/icon-17.png) no-repeat 15px center;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
    padding-left: 30px;
}

#menu .dropdown-menu li.active a, #menu .dropdown-menu li a:hover
{
    color: #f15b22;
}

#menu .subs-m .box-menu
{
    margin: 0;
    padding: 3px;
    text-align: center;
}

.subs-m .menu-list .name-m
{
    background: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0;
    margin-bottom: 5px;
}

#menu .menu-list .newline
{
    background: #000;
}

#menu .menu-list .md
{
    background-color: #ed1c24;
}

#menu .menu-list .mv
{
    background-color: #fcbb09;
}

#menu .menu-list .mv .name-m, #menu .menu-list .newline .name-m
{
    line-height: 30px;
}

#menu .menu-list .mx
{
    background-color: #81d5f7;
}

#menu .menu-list .ml
{
    background-color: #c1e125;
}

.subs-m li a.box-menu:hover .name-m, .subs-m li.active a.box-menu .name-m
{
    color: #2b59a9;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
idows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
