﻿#boxcat {
    padding: 15px 0 25px;
}

.watch-flaughs {
    float: left;
    width: 74%;
}

.box-works {
    width: 26%;
}

.articles-content .like-box {
    position: relative;
}

#wrapgame .jcarousel-wrapper {
    clear: both;
    width: 100%;
}

#wrapgame .jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

    #wrapgame .jcarousel ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #wrapgame .jcarousel li {
        float: left;
    }


#wrapgame .anwer-game .list-radio {
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.list-radio li .radio-check {
    display: block;
    padding: 5px 20px;
}

.box-aimg {
    margin: 5px 10px 5px 0;
}

    .box-aimg img {
        width: auto;
    }
/* Large desktop */
@media (min-width: 1200px) {
    .watch-for-laughs {
        width: 1130px;
    }

    .list-filter {
        float: right;
    }

    .menu-tabs li {
        width: 248px;
    }

    .game-text {
        width: 980px;
    }

    .anwer-game {
        width: 880px;
    }

    .container {
        width: 1200px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    #header-bottom .navbar-header {
        float: left;
        width: 67px;
    }

    #header-bottom #logo {
        margin: 5px 0 0;
        height: 40px;
    }
    /*#footer-content .footer-bottom
    {
        text-align: center;
        margin: 25px 0;
    }*/
    #footer-fabook .box-footer {
        margin-top: 15px;
    }

    #menu {
        float: right;
        margin: 0;
    }

    #play-learn .comment-video, #play-learn .wrap-video {
        clear: both;
        float: none;
        padding: 15px;
        width: auto;
    }

    #play-learn .box-articles {
        margin: 10px;
        padding: 15px;
        width: auto;
    }

    .box-col.newline .box-a .box-img {
        margin-bottom: 57px;
    }

    .box-col.mv .box-a .box-name, .box-col.md .box-a .box-name {
        line-height: 40px;
    }

    .watch-flaughs .box-articles {
        margin-right: 10px;
        width: auto;
    }

    .news-main .big-news .news-img {
        width: 55%;
    }
}

@media (min-width: 980px) {
    .contest-wrap {
        width: 830px;
    }

    .wrap-text-2 {
        width: 624px;
    }

    .box-art .art-img {
        width: 35%;
    }
}

@media (max-width: 980px) {
    .mobile-s980 {
        display: block !important;
    }

    .desktop-s980 {
        display: none !important;
    }
    /*#footer-content .footer-bottom
    {
        text-align: center;
        margin-bottom: 15px;
    }*/
    #footer-fabook .box-footer {
        margin-top: 15px;
    }

    .works-content {
        text-align: center;
    }
    /*===========*/
    .watch-flaughs {
        clear: both;
        float: none;
        margin: 0 auto;
        padding: 0 15px;
        width: auto;
    }

    #play-learn .comment-video, #play-learn .wrap-video {
        clear: both;
        float: none;
        padding: 15px;
        width: auto;
    }

    .box-works {
        clear: both;
        float: none;
        margin: 0 auto;
        padding: 15px;
        width: 340px;
    }

    .comment-video {
    }

    #myTab, #tabsVideo, #desTab {
        display: none;
    }

    .tit-tabs, .tit-video {
        display: block !important;
    }

    #play-learn .box-articles {
        margin: 5px;
        width: auto;
    }

    .learn-box {
        padding: 0 15px;
    }

    .small-news {
        padding: 15px;
    }

    #learn-know .box-experience {
        margin: 0 15px 15px;
    }

    .big-news .news-img {
        width: 45%;
    }

    .newsl-img {
        clear: both;
        float: none;
        width: 100%;
    }

    .newsl-content {
        padding: 5px 0 0;
    }

    .box-experience {
        margin: 0 0 10px;
    }

    .title-link a {
        margin-left: 15px;
    }
    /*===================*/
    .box-col {
        margin-top: 4px;
        width: 25%;
    }

        .box-col.md .box-a {
            margin-left: 0;
        }

        .box-col.newline {
            width: 100%;
        }

        .box-col.md .box-a .box-name {
            line-height: 37px;
        }

        .box-col.mv .box-a .box-name {
            line-height: 40px;
        }

    #students-work .box-col.md .box-a .box-name {
        line-height: 20px;
    }
    /*===========*/
    #col-right, #col-left {
        clear: both;
        float: none;
        padding: 0;
        width: 100%;
    }

    .node-i {
        margin-bottom: 0;
    }

    .main-bottom .box-asibar {
        padding: 9px 0;
    }

    .title-3 {
        border: none;
        padding: 0;
        margin: 0;
    }

    #col-left {
        margin-top: 35px;
    }
    /*=========*/
    .wrap-asibar, .wrap-section {
        margin: 0;
    }

    .box-ques {
        margin: 5px;
        width: auto;
    }

    .wrap-section-b {
        margin: 0;
    }

    .wrap-text-2 {
        width: 624px;
    }

    .head-b .like-boxb {
        float: none;
        width: 100%;
    }

    .wrap-asibar {
        padding-top: 20px;
    }

    .box-upload {
        clear: both;
        float: none;
        width: 100%;
    }

        .box-upload .upn {
            clear: both;
            display: block;
            padding-top: 5px;
            padding-right: 0;
            text-align: left;
            width: 100%;
        }

    .upload-a {
        clear: both;
        display: block;
        float: none;
        margin: 0 auto;
        width: 220px;
    }

        .upload-a span {
            float: none;
        }

        .upload-a:hover {
            text-decoration: none;
        }
    /*==========*/
    .news-box .colla-img {
        clear: both;
        float: none;
        margin-top: 0;
        width: 100%;
    }

    .news-box .colla-content {
        overflow: hidden;
        padding: 0;
        width: 100%;
    }
    /*============*/
    .register-box, .login-box {
        border: none;
        padding: 10px 0;
    }

    .register-box {
        padding-top: 20px;
    }

    .login-box {
        border-bottom: solid 1px #ddd;
    }

        .login-box .send-login {
            padding: 15px 0 10px;
        }

        .login-box .p-node {
            border: none;
            padding: 0 0 5px;
        }

    .register-box .send-login {
        padding-top: 5px;
    }

    .newsc, .newsb {
        margin: 0;
    }

    .newsd {
        border: none;
        border-bottom: solid 1px #dedede;
    }

        .newsd .box-newsl {
            border: none;
        }

        .newsd .newsl-img {
            float: left;
            width: 30%;
        }

        .newsd .newsl-content {
            padding: 0 0 0 10px;
        }

    .newsb .news-name {
        margin-top: 5px;
    }

    .newsb .news-img {
        float: none;
        margin-top: 0;
        width: 100%;
    }

    .newsb .news-content {
        overflow: hidden;
        padding-left: 0;
        width: 100%;
    }

    .game-text img {
        height: auto !important;
        width: auto !important;
        max-width: 100%;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #header-bottom .navbar-header {
        width: 100%;
    }

    #header-bottom #logo {
        clear: both;
        float: none;
        margin: 10px auto 0;
        height: 50px;
        width: 87px;
    }

    #logo a {
        display: block;
        height: 50px;
    }

        #logo a img {
            max-height: 50px;
            width: auto;
        }

    #menu {
        margin: 0;
        width: 100%;
    }

        #menu > li {
            width: 14%;
        }

            #menu > li > a {
                font-size: 12px;
                text-align: center;
                padding: 0;
            }

    #address .box-footer {
        margin: 0;
    }

    #menu > li.m-hover > a:hover, #menu > li.m-hover:hover > a {
        background: #fff;
        border: solid 1px #d5d5d5;
        border-bottom: none;
        line-height: 43px;
        padding: 0;
        color: #f15b22;
    }

    .menu-list .name-m {
        margin-bottom: 5px;
    }

    .menu-list .nmp .name-m {
        margin-bottom: 0;
    }

    .menu-list .boxm-menu {
        margin-bottom: 20px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .wrapper-main {
        padding: 30px 15px;
    }

    #menu-top {
        float: left;
        width: 68%;
    }

    #header-top {
        background: #2c2c2c;
    }

    .show-desktop {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    #logo {
        margin: 10px;
    }

    #header-top .link-a {
        margin: 5px 5px 0 0;
    }

    #menu {
        margin-top: 5px;
    }

    #logo {
        margin: 5px 10px;
    }

        #logo a {
            height: 40px;
            width: 54px;
        }

            #logo a img {
                max-height: 40px;
            }

    #header-bottom .navbar-toggle {
        margin-top: 10px;
        margin-right: 10px;
    }

    #menu > li > a {
        padding: 0 10px;
    }

    #menu > li {
        margin-bottom: 1px;
    }

        #menu > li > a:hover, #menu > li.active > a {
            background: #f15b22;
            color: #fff;
        }

    #footer {
        padding: 0 15px;
    }

    #address {
        width: 100%;
    }

        #address .box-footer {
            margin: 0;
        }
    /*===============*/
    #students-work {
        padding: 0 15px 15px;
    }

    .box-col {
        width: 50%;
    }

        .box-col.newline {
            width: 100%;
        }

        .box-col.mx .box-a {
            margin-left: 0;
        }

        .box-col.md .box-a .box-name {
            line-height: 16px;
        }

        .box-col.mv .box-a .box-name {
            line-height: 20px;
        }

    .big-news .news-img {
        margin-top: 5px;
    }

    .big-news .news-name a {
        font-size: 16px;
        line-height: 20px;
    }

    .news-content .date {
        font-size: 11px;
        margin-bottom: 5px;
    }

    .big-news .description {
        font-size: 13px;
        line-height: 22px;
    }
    /*============*/
    .wrap-main, .site-node {
        padding: 0 15px;
    }

    .content-info .description {
        padding: 5px 0 15px;
        width: 100%;
    }
    /*===========*/
    .check-list tr td {
        display: block;
        width: 100%;
    }

    #accordion .panel-heading {
        background: #eee;
    }
    /*============*/
    .sknow-content {
        padding: 10px 0;
    }

    .box-upload, .head-menu {
        padding: 0 15px;
        line-height: 18px;
        width: auto;
    }

    .head-menu {
        padding: 15px;
    }

    .box-upload .upn {
        padding: 5px 0;
    }

    .list-filter {
        width: 100%;
    }

        .list-filter td {
            display: block;
            float: left;
            padding-left: 0;
            width: 50%;
        }

    .send-wrap .form-group .form-group {
        margin-top: 15px;
    }

    .go-for-laughs {
        margin: 0 15px;
        width: auto;
    }

    .wrapper-group, .news-main {
        margin: 0 15px;
        width: auto;
    }

        .wrapper-group > .row {
            margin-left: -13px;
            margin-right: -13px;
        }

    .laughs-ivt .like-box .box-text-see {
        display: none !important;
    }

    #marquensroll {
        margin-top: 0;
    }

    .title-news a {
        background-position: 10px center;
        padding-left: 20px;
    }

    .anwer-game td {
        display: block;
    }

    .head-game h3 {
        line-height: 20px;
        margin-bottom: 15px;
    }

    #startgame {
        background: none;
        padding: 0 10px;
        width: auto;
    }

        #startgame .btn-starts {
            width: 100%;
        }

    .contact .form-group .form-group {
        margin: 0 0 15px;
    }

    .anwer-game .list-radio li {
        width: 100% !important;
    }

    .comment-video .description {
        margin-bottom: 10px;
    }
    /*============*/
    .laughs-ivt {
        margin: 0 15px;
    }

    .sknow-date {
        margin: 0;
    }

    .sknow-content .like-box {
        margin-bottom: 5px;
    }

    .watch-flaughs .box-articles {
        margin: 0 15px;
    }

    .watch-flaughs .jcarousel-wrapper {
        margin: 0 0 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (max-width: 664px) {

    .wrap-text-2 {
        width: 100%;
    }
}

@media (max-width: 620px) {
    #menu-top {
        clear: both;
        float: none;
        margin: 0 auto;
        width: 95%;
    }

    .pro-table .col-xs-6 {
        width: 100%;
    }

    .pro-table .box-articles, .pro-table .box-month .month-a {
        margin: 0 auto;
        width: 80%;
    }

    .pro-table .box-month .month-a {
        margin: 10px auto 5px;
    }

    .box-wp .col-xs-6 {
        width: 100%;
    }
}

@media (max-width: 549px) {
    .watch-flaughs .jcarousel-control-prev,
    .watch-flaughs .jcarousel-control-next {
        background: url(../images/controls.png) no-repeat left top;
        margin-top: -16px;
        top: 33%;
        width: 32px;
        height: 32px;
        z-index: 10;
    }

    .watch-flaughs .jcarousel-control-prev {
        background-position: 0 -32px;
        left: 10px;
    }

    .watch-flaughs .jcarousel-control-next {
        background-position: -43px -32px;
        right: 10px;
    }
}

@media (max-width: 530px) {
    .watch-flaughs .box-articles {
        margin: 0 15px;
        width: auto;
    }

    .watch-flaughs .jcarousel-wrapper {
        margin: 0;
    }

    .jcarousel-control-prev {
        background-position: 0 -30px;
        left: 15px;
    }

    .jcarousel-control-next {
        background-position: -16px -30px;
        right: 15px;
    }

    .boxm-text .in-text {
        font-size: 18px;
        padding: 0 10px;
    }

    .footer-lo .col-xs-6 {
        width: 100%;
    }

    .box-aimg img {
    }

    .send-upload .send-login {
        padding: 0;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    #footer-content .col-xs-6 {
        width: 100%;
    }

    #footer .box-footer {
        margin: 10px;
    }

    #play-learn .wrap-content .col-xs-6, .news-box .col-xs-6, .go-for-laughs .col-xs-6 {
        width: 100%;
    }

    #play-learn .box-articles {
        margin: 10px 0;
        padding: 0 15px 15px;
        width: auto;
    }

    .big-news {
        padding: 0;
    }

        .big-news .news-img {
            clear: both;
            float: none;
            width: 100%;
        }

        .big-news .news-content {
            padding: 10px 0;
            width: 100%;
        }

    #learn-know .know-box {
        margin: 20px auto;
        width: 85%;
    }

        #learn-know .know-box .col-xs-4 {
            width: 100%;
        }

        #learn-know .know-box .box-newsl {
            border: none;
            padding: 15px;
        }

    .jcarousel-wrapper {
        margin: 0;
    }
    /*.watch-flaughs .box-articles
    {
        margin: 0;
        width: 100%;
    }*/
    .watch-flaughs .articles-content {
        padding: 10px 5px;
    }
    /*=============*/
    .list-month .col-xs-6, .pro-table .box-articles, .watch-for-laughs .col-xs-6 {
        width: 100%;
    }

    .watch-for-laughs .box-articles {
        margin: 15px;
    }

    .head .title-4 {
        float: none;
        font-size: 18px;
        width: 100%;
    }

        .head .title-4 span {
            background-position: 8px 12px;
            padding-left: 20px;
        }

    .send-wrap, .wrap-btn {
        padding-left: 0;
        padding-right: 0;
    }

    .title-1 {
        font-size: 18px;
    }

        .title-1 strong {
            font-size: 24px;
        }
    /*===========*/
    .wrap-asibar .col-xs-6, .wrapper-group .col-xs-6, .newsd .col-xs-6 {
        width: 100%;
    }
    /*==========*/
    .box-sup .sup-img {
        float: none;
        width: 100%;
    }

    .box-sup .sup-content {
        padding: 10px 0 0;
    }

    .sup-text {
        background: none;
        padding: 0;
    }
    /*===============*/
    .boxa .boxa-img {
        clear: both;
        float: none;
        width: 100%;
    }

    .boxa .boxa-content {
        overflow: hidden;
        padding: 10px 0;
        width: 100%;
    }

    .more-add a {
        padding: 0 10px;
        width: auto;
    }
    /*===========*/
    .box-art .art-img {
        float: none;
        width: 100%;
    }

    .art-content {
        overflow: hidden;
        padding: 10px 0 0;
        width: 100%;
    }

    .list-filter td {
        display: block;
        float: none;
        width: 100%;
    }

    .menu-tabs li {
        width: 100%;
    }

        .menu-tabs li a {
            margin: 0;
            text-align: left;
        }

    m-video {
        height: 300px;
    }

    .wrapper-group > .row {
        margin: 0;
    }

    .wrapper-group .newsb-wrap {
        margin: 15px 0;
    }

    .news-dbox .news-img {
        clear: both;
        float: none;
        margin: 0;
        width: 100%;
    }

    .news-dbox .news-content {
        margin-top: 10px;
    }

    .watch-flaughs .jcarousel-control-prev {
        left: 10px;
    }

    .watch-flaughs .jcarousel-control-next {
        right: 10px;
    }

    .box-art .text-art strong {
        font-size: 24px;
    }
}


@media (max-width: 390px) {
    #learn-know .know-box .box-newsl {
        padding: 5px;
    }

    .box-col {
        width: 100%;
    }

        .box-col .box-a {
            margin: 4px 0;
        }

    .tabs-group .panel-heading a {
        padding: 0 5px;
    }

    .tabs-group .tabs-name {
        font-size: 17px;
        padding-left: 5px;
    }

    .tabs-group .panel-heading .tabs-icon {
        right: 0;
    }

    .more-gamesp a {
        width: 100%;
    }

    .title, .title a {
        font-size: 18px;
        line-height: 22px;
    }

    .watch-flaughs {
        width: auto;
    }
}

@media (max-width: 320px) {
    .pro-table .box-articles .like-box {
        margin-top: 5px;
        width: 100%;
    }

    .pro-table .box-articles .articles-content {
        text-align: center;
    }

        .pro-table .box-articles .articles-content a {
            display: inline-block;
            float: none;
        }

    .main-bottom .box-asibar {
        padding: 0;
    }

    .main-bottom .box-resgister {
        background: #be1313;
        padding: 15px;
        height: auto;
        width: auto;
    }

        .main-bottom .box-resgister h2 {
            font-size: 14px;
            margin-bottom: 10px;
        }
}
