﻿


/*==========main=======*/
#main-content
{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}
.watch-flaughs .box-articles, .pro-table .box-articles, .wrap-read .box-show, #congtacvien .colla-box,
.go-for-laughs .box-articles, .laughs-ivt .box-articles, #newslistx .colla-box, .wrap-video .box-articles,
#boxab, #accordion
{
    opacity: 0;
}
#shadow-top
{
    background: url(../images/shadow-h.png) repeat-x left top;
    left: 0;
    top: 0;
    right: 0;
    height: 31px;
    position: absolute;
    z-index: 99;
}

#worsk-wrap
{
    background: url(../images/w-bg.png) repeat-x left top;
}

.title-link
{
    overflow: hidden;
    margin: 30px 0;
    width: 100%;
}

.title-link a
{
    background: url(../images/icon-1.png) no-repeat left center;
    color: #2a2a2a;
    display: block;
    float: left;
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 600;
    padding-left: 65px;
}

.title-link a span
{
    background: url(../images/icon-2.png) no-repeat right center;
    display: block;
    float: left;
    padding-right: 40px;
}
/*===========*/
.group-wrap
{
    width: 100%;
}

.box-works
{
    float: right;
    width: 320px;
}

.works-bb
{
    background: url(../images/box-bottom-1.png) no-repeat right bottom;
    clear: both;
    padding-bottom: 108px;
    width: 100%;
}

.works-bb .works-bc
{
    background: url(../images/box-left-1.png) no-repeat left bottom;
    padding-left: 36px;
    width: auto;
}

.works-bc .works-bl
{
    background: url(../images/box-right-1.png) no-repeat right bottom;
    padding-right: 8px;
    width: auto;
}

.works-bl .works-br
{
    background: url(../images/box-center.png) repeat-x left bottom;
    padding-right: 28px;
    width: auto;
}

.works-br .works-bt
{
    background: url(../images/box-top-1.png) no-repeat center top;
    height: 235px;
    width: 100%;
}

.works-head
{
    color: #acc704;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    padding-left: 23px;
    padding-top: 40px;
    height: 80px;
    margin: 0 auto;
    width: 200px;
}

.works-head h3
{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.works-head p
{
    padding-left: 25px;
}

.works-content
{
    color: #ceebff;
    font-size: 13px;
    line-height: 18px;
    padding: 35px 0 10px 7px;
    text-align: justify;
}

.box-works .more a
{
    background-color: #000;
    color: #fff;
    display: block;
    height: 29px;
    line-height: 29px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}

.box-works .more a:hover
{
    text-decoration: none;
}
/*=========*/
/*====================tabs====================*/
.nav-control
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;
    width: 100%;
    z-index: 10;
}

.nav-control li
{
    float: left;
    padding-right: 3px;
}

.tab-contents
{
    position: relative;
    width: 100%;
    z-index: 1;
}

.tab-panes
{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}
.watch-flaughs .tab-panes
{
    background: #fff;
    border: solid 1px #ededed;
}

.watch-flaughs
{
    overflow: hidden;
}

.watch-flaughs .nav-tabs
{
    border-bottom: none;
    position: relative;
    z-index: 11;
}

.watch-flaughs .nav-tabs li a, .tit-tabs a, .nav-control li a
{
    background: #f4f4f4;
    border: solid 1px #fff;
    border-bottom: none;
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    color: #a4a4a4;
    display: block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
}

.tit-tabs
{
    margin: 1px 0 0;
}

.tit-tabs a
{
    background: #f15b22;
    color: #fff;
}

.watch-flaughs .nav-tabs li.active a, .watch-flaughs .nav-tabs li a:hover, .nav-control li a:hover, .nav-control li.active a
{
    background-color: #fff;
    border-color: #ededed;
    text-decoration: none;
}
.nav-control li a:hover, .nav-control li.active a
{
    font-weight: bold;
    color: #000;
}
.tit-tabs a.active, .tit-tabs a:hover
{
    background-color: #0a84d1;
    text-decoration: none;
}

.watch-flaughs .tab-content
{
    position: relative;
    z-index: 10;
}

.watch-flaughs .tab-pane
{
    background: #fff;
    border: solid 1px #ededed;
}
/*=========*/
/*=========*/
.box-articles
{
    line-height: 20px;
    width: 240px;
}

.articles-content .line
{
    border-bottom: solid 1px #e5e5e5;
}

.bcover
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bcover img
{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8+*/
    filter: alpha(opacity=0); /* IE7 and lower */
}

.box-articles .articles-img
{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.box-articles .articles-img .mask-video, .box-articles .text-art, .box-art .art-img .mask-video
{
    background: url(../images/o-p-1.png) repeat left top;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    text-align: center;
    z-index: 10;
}

.box-articles .text-art strong
{
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px;
}

.box-articles .articles-img .mask-video, .box-art .art-img .mask-video
{
    background: url(../images/icon-lay.png) no-repeat center center;
}

.box-text-see
{
    background: url(../images/o-p-2.png) repeat left top;
    color: #adacac;
    display: block;
    font-size: 12px;
    line-height: 20px;
}

.box-articles .articles-img .box-text-see
{
    bottom: 11px;
    right: 0;
    position: absolute;
    text-align: right;
    padding-right: 5px;
    width: 100px;
    z-index: 11;
}

.like-box .box-text-see
{
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    min-width: 110px;
}

.articles-img .box-text-see strong
{
    color: #fff;
}

.articles-content
{
    color: #6a6a6a;
    font-size: 12px;
    line-height: 18px;
    padding-top: 15px;
    width: 100%;
}

.articles-content p
{
    margin: 0;
}

.articles-content p span
{
    color: #000;
}

/*==============*/
#play-learn
{
    background: url(../images/m-bg.jpg) repeat-x center 80px;
}

#tabsVideo li
{
    padding: 0;
}

#tabsVideo li a
{
    background: none;
    border: none;
    display: block;
    padding: 0 0 15px;
    margin: 0;
    height: auto;
    overflow: hidden;
}

#tabsVideo li.md.active a
{
    background: url(../images/b-b-1.png) no-repeat right bottom;
}

#tabsVideo li.mv.active a
{
    background: url(../images/b-b-2.png) no-repeat right bottom;
}

#tabsVideo li.mx.active a
{
    background: url(../images/b-b-3.png) no-repeat right bottom;
}

.tit-video
{
    margin: 1px 0 0;
}

#tabsVideo li a .name-v, .tit-video a span
{
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: normal;
    padding: 0 15px;
    line-height: 32px;
    position: relative;
    min-width: 200px;
}
#tabsVideo li a .icon-v
{
    background: url(../images/icon-add.png) no-repeat right center;
    display: block;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    height: 14px;
    position: absolute;
    width: 14px;
}
#tabsVideo li a .name-v
{
    padding-right: 30px;
    text-transform: none;
}

#tabsVideo li.md a .name-v, .tit-video a.md span
{
    background: #ed1c24;
}

#tabsVideo li.mv a .name-v, .tit-video a.mv span
{
    background: #f48e16;
}

#tabsVideo li.mx a .name-v, .tit-video a.mx span
{
    background: #10cb26;
}

#tabsVideo li a span strong, .tit-video a span
{
    font-weight: normal;
    text-transform: uppercase;
}

.tit-video a:hover, .tit-video a.active
{
    text-decoration: none;
}
/*================*/
.comment-video
{
    float: left;
    min-height: 200px;
    width: 360px;
}

.title-1
{
    font-family: 'Open Sans';
    color: #000;
    font-size: 15px;
    font-weight: 800;
    padding-top: 5px;
    margin: 0;
}

.title-1 strong
{
    display: block;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    word-spacing: -1px;
    letter-spacing: -1px;
}

.comment-video .description
{
    font-family: 'Open Sans';
    color: #000;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    margin: 15px 0 10px;
}

.more-see, .more-game
{
    overflow: hidden;
    width: 100%;
}

.more-game
{
    margin-top: 60px;
}

.more-see a
{
    background: #000;
    color: #fff;
    font-size: 14px;
    display: block;
    float: left;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    width: 110px;
}

.more-see a:hover
{
    text-decoration: none;
}

.more-game a
{
    background: url(../images/icon-3.png) no-repeat left center;
    color: #4f6d2a;
    display: block;
    float: right;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    padding-left: 120px;
    line-height: 51px;
}
/*============*/
.wrap-video
{
    overflow: hidden;
    padding-left: 20px;
}

.wrap-video .box-articles
{
    background: #fff;
    padding: 12px;
    margin: 9px 0;
    margin-right: 15px;
    width: auto;
}

.wrap-video .box-articles .articles-img
{
    margin-top: 10px;
}

.articles-img img
{
    position: relative;
    z-index: 1;
}

.articles-img .box-text
{
    display: block;
    left: 1px;
    top: 7px;
    position: absolute;
    width: 90px;
    z-index: 10;
}

.box-text span
{
    color: #adacac;
    font-family: Calibri;
    font-size: 12px;
    display: block;
    line-height: 20px;
    padding-left: 7px;
    margin-bottom: 1px;
}

.box-text strong
{
    color: #fff;
}

.box-text .text-1
{
    background: url(../images/o-p-1.png) repeat left top;
}

.box-text .text-2
{
    background: url(../images/o-p-2.png) repeat left top;
}

.wrap-video .box-articles .articles-content
{
    padding-top: 10px;
}

.articles-content .link-com
{
    background: #6eb992;
    border: solid 1px #00a651;
    color: #f2f2f2;
    display: block;
    float: right;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    width: 69px;   
    
}

.articles-content .link-com:hover
{
    text-decoration: none;
}

.articles-content .like-box
{
    overflow: hidden;
    left: 0; 
    top: 0;
    margin-bottom: 5px;
    position: fixed;
    z-index: 0;
}
/*=============*/
.box-experience
{
    background: #fff;
    margin-left: 15px;
}

.box-experience .title-2
{
    background: #dceef2;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 31px;
    margin: 0;
}

.list-experience
{
    color: #858585;
    font-size: 12px;
    list-style: none;
    padding: 15px;
    margin: 0;
    line-height: 18px;
}

.list-experience li
{
    border-bottom: solid 1px #e1e1e1;
    padding: 9px 0;
    min-height: 60px;
}

.list-experience li.last
{
    border: none;
    padding-bottom: 0;
}

.list-experience .experience-name
{
    margin: 0 0 5px;
}

.experience-name a
{
    background: url(../images/icon-5.png) no-repeat left 3px;
    color: #c2920e;
    display: block;
    font-size: 12px;
    padding-left: 15px;
    text-transform: uppercase;
    line-height: 16px;
}
/*============*/
.learn-box
{
    padding-right: 20px;
}

.big-news
{
    padding-right: 30px;
    overflow: hidden;
}

.big-news .news-img
{
    display: block;
    float: left;
    width: 306px;
}

.big-news .news-content
{
    overflow: hidden;
    padding-left: 20px;
}

.big-news .news-content .news-name
{
    margin: 0;
}

.big-news .news-name a
{
    color: #0b5087;
    font-size: 18px;
    line-height: 24px;
}

.news-content .date
{
    color: #929292;
    font-size: 12px;
    margin: 3px 0 10px;
}

.big-news .description
{
    color: #545454;
    font-size: 14px;
    line-height: 24px;
}

.big-news .description a
{
    float: left;
    margin: 0 20px 10px 0;
}

.big-news .description a img
{
    width: 306px;
}

.news-list
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.news-list li
{
    border-bottom: solid 1px #e5e5e5;
    padding: 5px 0;
}
/*===========*/
.know-box
{
    background: #fff;
    border: solid 1px #dedede;
    margin: 30px 0 0;
    overflow: hidden;
}

.box-newsl
{
    border-left: solid 1px #dedede;
    overflow: hidden;
    padding: 18px 13px;
    margin-left: -1px;
}

.newsl-img
{
    display: block;
    float: left;
    width: 105px;
}

.newsl-content
{
    overflow: hidden;
    padding-left: 10px;
}
/*==============*/
.news-smmall, .small-name
{
    margin: 0;
    line-height: 15px;
}

.news-smmall a
{
    color: #929292;
    font-size: 11px;
}

.small-name a
{
    color: #123c65;
    font-size: 12px;
}
/*======================*/
.adver
{
    overflow: hidden;
    padding: 30px 0 10px;
    width: 100%;
}

.adver .adver-1
{
    float: left;
    width: 62%;
}

.adver .adver-2
{
    float: right;
    width: 37.5%;
}
/*===================*/
#students-work
{
    padding-bottom: 15px;
    width: 100%;
}
#students-work .box-sw
{
    width: 100%;
}
.box-col
{
    float: left;
    width: 20%;
}

.box-col .box-a
{
    display: block;
    padding: 5px;
    position: relative;
    margin-left: 4px;
    overflow: hidden;
}

.box-col.newline .box-a
{
    background-color: #000;
    margin-left: 0;
}

.box-col .box-a .mask-box
{
    background: url(../images/o-p-3.png) repeat left top;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 9;
}

.box-col .box-a:hover
{
    text-decoration: none;
}

.box-col.md .box-a
{
    background-color: #ed1c24;
}

.box-col.mv .box-a
{
    background-color: #fcbb09;
}

.box-col.mx .box-a
{
    background-color: #81d5f7;
}

.box-col.ml .box-a
{
    background-color: #c1e125;
}

.box-col .box-a span
{
    display: block;
}

.box-col .box-a .box-img
{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.box-col .box-a .icon-hot
{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
}

.box-col .box-a .box-name
{
    color: #000;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    text-align: center;
    word-spacing: -2px;
    width: auto;
    z-index: 12;
    font-weight: bold;
}

.box-col.newline .box-a .box-img
{
    margin-bottom: 37px;
}

.box-col.newline .box-name
{
    background: url(../images/o-p-2.png) repeat left top;
    color: #fff;
    text-align: left;
    padding: 10px 5px;
    bottom: 0;
    left: 0;
    right:0;
    position: absolute;
    line-height: 18px;
}
/*============choi de hieu====================*/
.site-node
{
    color: #2a2a2a;
    font-size: 14px;
    line-height: 18px;
    margin: 25px 0 30px;
    width: 100%;
}

.wrap-main
{
    width: auto;
}

.node-p
{
    color: #6a6a6a;
    font-size: 12px;
    line-height: 18px;
}

.node-p strong
{
    color: #000;
}

.title, .title a
{
    color: #000;
    margin: 4px 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
}
.title a, .title a:hover
{
    display: inline-block;
    text-decoration: none;
}
.box-like, .head-box
{
    background: url(../images/line.png) repeat-x left top;
    width: 100%;
}

.box-like-b, .head-box-b
{
    background: url(../images/line.png) repeat-x left bottom;
    padding: 11px 0;
    width: 100%;
}

.box-like
{
    margin: 12px 0;
}

.head-box
{
    margin-bottom: 20px;
}
/*==========*/
.content-info
{
    color: #5e5e5e;
    font-size: 13px;
    line-height: 24px;
    width: 100%;
}

.content-info .description
{
    padding: 15px 0 30px;
    width: 100%;
}

.content-info strong
{
    color: #000;
}

.node-i
{
    color: #4a67b7;
    font-size: 11px;
    font-style: italic;
    line-height: 24px;
    margin: 10px 0 50px;
}

.tit-des
{
    margin: 0 0 1px;
}

#desTab
{
    border: none;
}

#desTab li a, .tit-des a
{
    background-color: #e8e8e8;
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    color: #244a59;
    border: none;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 0 15px;
    line-height: 28px;
}

#desTab li.active a, #desTab li a:hover, .tit-des a.active, .tit-des a:hover
{
    background-color: #73d0f6;
    color: #fff;
    text-decoration: none;
}
/*===========*/
#col-left
{
    overflow: hidden;
    padding-right: 15px;
}

#col-right
{
    float: right;
    width: 278px;
}

.box-asibar
{
    background-color: #f8f8f8;
    border: solid 1px #dedede;
    padding: 9px 0 0;
}

.box-resgister
{
    background: url(../images/boxa.png) no-repeat left top;
    clear: both;
    color: #eaeaea;
    font-size: 11px;
    height: 244px;
    line-height: 16px;
    margin: 0 auto;
    padding: 70px 70px 4px 45px;
    text-align: center;
    width: 283px;
}

.box-resgister h2
{
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
}

.box-resgister p
{
    margin: 0;
}

.more-gis
{
    overflow: hidden;
    width: 100%;
}

.box-resgister .more-gis
{
    margin-top: 11px;
}

.more-gis a
{
    background: url(../images/boxa-btn.png) no-repeat left top;
    color: #3b1919;
    display: block;
    float: right;
    font-size: 11px;
    line-height: 16px;
    padding-left: 12px;
    text-transform: uppercase;
    text-align: left;
    margin-right: 12px;
    height: 23px;
    width: 63px;
}

.more-gis a:hover
{
    text-decoration: none;
}

.title-3
{
    border-top: solid 1px #d3d3d3;
    color: #323232;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 45px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
/*========*/
.list-month
{
    position: relative;
    width: 100%;
}

.box-month
{
    width: 100%;
}

.box-month .month-a
{
    display: block;
    position: relative;
    margin: 5px 9px;
    overflow: hidden;
}
.pro-table .box-month .month-a 
{
    margin: 2px;
}
.month-a span
{
    display: block;
}

.month-img
{
    position: relative;
    width: 100%;
    z-index: 1;
}

.month-name
{
    background: url(../images/icon-hotm.png) no-repeat left top;
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
    width: 74px;
    z-index: 10;
}

.month-name .month-ro
{
    color: #fff;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    position: relative;
    line-height: 48px;
    width: 97px;
}

.month-name .month-ro strong
{
    font-weight: 800;
}

.main-bottom
{
    margin: 20px;
    width: auto;
}
/*============*/
.box-articles
{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 2px;
    width: auto;
}

.reques
{
    background: #000;
    border: solid 1px #000;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px !important;
    margin-left: 1px;
    height: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    width: 65px;
}

.reques:hover
{
    color: #fff;
    text-decoration: none;
}

.pro-table
{
    margin-bottom: 40px;
    width: 100%;
}

.pro-table .link-com
{
    border-color: #f36c21;
    background: #f36c21;
    width: 65px;
}

.pro-table .articles-content
{
    padding: 10px 0;
}

.box-articles .date
{
    color: #40b5e5;
    font-size: 10px;
    text-align: right;
    line-height: 16px;
    margin: 0;
    width: 100%;
}
/*=====================*/
.head
{
    background: #000;
    overflow: hidden;
    width: 100%;
}

.title-4
{
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.title-4 span
{
    background: url(../images/icon-6.png) no-repeat 20px 14px;
    display: block;
    padding-left: 38px;
}

.head .title-4
{
    float: left;
    width: 60%;
}
.heah-t .title-4
{
    float: none;
    width: 100%;
}
.tit-link
{
    background: url(../images/icon-7.png) no-repeat left center;
    color: #4b4b4b;
    display: block;
    font-size: 12px;
    padding: 0 15px;
    line-height: 32px;
}

.tit-link:hover
{
    text-decoration: none;
}

.more-all
{
    text-align: center;
}

.more-all a
{
    display: inline-block;
}

.head .tit-link
{
    color: #fff;
    float: right;
    margin-right: 17px;
    right: 0;
    top: 0;
    position: absolute;
}

.head-bg
{
    background: #c5c5c5;
    position: relative;
}
/*===========*/
.send-wrap
{
    padding: 15px 40px 0;
}

.send-wrap .form-group
{
    overflow: hidden;
}

.send-wrap .form-group .form-group
{
    margin: 0;
}

.check-list
{
    color: #414141;
    font-size: 11px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

.check-list label
{
    display: inline-block;
    padding-left: 5px;
    padding-right: 30px;
}

.send-wrap .form-control, .send-login .form-control
{
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    -moz-box-shadow: inset 5px 5px 5px #ececec;
    -webkit-box-shadow: inset 5px 5px 5px #ececec;
    box-shadow: inset 5px 5px 5px #ececec;
    color: #929292;
    font-size: 11px;
    font-style: italic;
}

.form-group .text-area
{
    resize: none;
    height: 100px;
}

.send-wrap .control-label, .send-login .control-label
{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.contest-wrap .modal-title
{
    color: #67c107;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.popup2 .modal-title
{
    color: #000;
}

.wrap-btn
{
    padding: 0 40px;
}

.contest-wrap .wrap-btn .form-group
{
    margin: 0;
}

.contest-wrap .btn-send, .wrap-sm .btn-send, .wup-load .btn-send, .btn-b, .modal-footer .btn-default
{
    background: url(../images/btn-bg.png) no-repeat left top;
    border: none;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    height: 28px;
    width: 187px;
}

.send-login .btn-send, .wup-load .btn-send, .btn-b, .modal-footer .btn-default
{
    background: #e40000 url(../images/bg-3.png) repeat-y right top;
    width: 102px;
}

.btn-b, .modal-footer .btn-default
{
    clear: both;
    float: none;
    margin: 0 auto;
}

.contest-wrap .modal-content, .popuplogin .modal-content, .popupbox .modal-content
{
    border: solid 5px #000;
}

.node-send
{
    color: #154c69;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
}
/*============*/
.wrapper-main
{
    padding: 30px 0;
}

.wrap-asibar
{
    margin-left: 5px;
}

.title-a
{
    background: #f36c22;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    line-height: 28px;
    padding: 10px 0;
}

.box-ques
{
    margin-top: 5px;
}

.box-aques
{
    background-color: #000;
    border: solid 5px #000;
    display: block;
    position: relative;
}

.box-aques .icon-hot
{
    left: -5px;
    top: -5px;
    position: absolute;
    z-index: 15;
}

.box-aques span
{
    display: block;
}

.box-aques .box-img
{
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
}

.box-aques .box-name
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    width: auto;
    z-index: 10;
}

.wrap-section
{
    margin-right: 40px;
}

.box-aques:hover
{
    text-decoration: none;
}
/*========*/
#site
{
    margin-bottom: 30px;
    width: auto;
}

#site a, #site span
{
    font-size: 14px;
    line-height: 22px;
    margin: 0 4px;
}

#site a
{
    background: url(../images/site-icon.png) no-repeat right center;
    color: #2a2a2a;
    padding-right: 30px;
}

#site a.first
{
    margin-left: 0;
}

#site span
{
    color: #a6a6a6;
}
/*==============*/
#accordion .panel-heading, #accordion .panel-default
{
    border: none;
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    box-shadow: none; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
    -moz-box-shadow: none; /* Firefox */
    -webkit-box-shadow: none; /* Safari and Chrome */
}

#accordion .panel-default
{
    margin-top: 20px;
}

#accordion .panel-body
{
    border: solid 1px #eee;
    border-top: none;
}

#accordion .panel-heading
{
    background: #eee;
    padding: 0;
    position: relative;
    z-index: 10;
}

#accordion .panel-collapse
{
    position: relative;
    z-index: 10;
}

#accordion .panel-title
{
    overflow: hidden;
    width: 100%;
}

#accordion .panel-title span
{
    display: block;
}

.box-sup
{
    overflow: hidden;
    padding: 12px 16px;
}

.box-sup .sup-img
{
    float: left;
    width: 150px;
}

.box-sup .sup-content
{
    color: #222;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    overflow: hidden;
    padding-left: 15px;
}

.sup-icon strong, .sup-icon-2 strong
{
    background: url(../images/icon-down.png) no-repeat center bottom;
    color: #2c2c2c;
    display: block;
    font-family: Calibri;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
}

#accordion .panel-heading.active
{
    background: #f9fdfd url(../images/line-1.png) repeat-x left bottom;
}

.panel-heading.active .sup-icon strong, .panel-heading.active .sup-icon-2 strong
{
    background: url(../images/icon-up.png) no-repeat center bottom;
}

.sup-icon
{
    background: #d7d7d7;
    border: solid 1px #d7d7d7;
    border-bottom: none;
    float: right;
    height: 100%;
    width: 90px;
}

.panel-heading.active .sup-icon
{
    background: #fff;
    border-color: #eee;
}

.sup-icon strong
{
    padding-bottom: 20px;
}

.sup-icon-2
{
    width: 100%;
}

.sup-icon-2 strong
{
    background-color: #d7d7d7;
    background-position: center 25px;
    padding: 5px 0 20px;
}

.panel-heading.active .sup-icon-2 strong, .panel-heading.active .sup-icon-2-2 strong
{
    background-color: #d7d7d7;
    background-position: center 25px;
}

.sup-text
{
    background: url(../images/icon-text.png) no-repeat left 10px;
    color: #666;
    font-family: Calibri;
    font-size: 14px;
    line-height: 20px;
    padding-left: 50px;
}

.panel-heading a
{
    text-decoration: none;
}
/*==========*/
.more-read, .read-less
{
    display: block;
    margin-top: 15px;
    text-align: right;
    width: 100%;
}

.more-read a, .read-less a
{
    color: #f15b22;
    text-decoration: underline;
}
/*======================================================*/
.wrapper-section
{
    overflow: hidden;
    width: 100%;
}

.colla-box
{
    /*border-bottom: solid 1px #e1e1e1;
    padding: 20px 0;*/
}

.colla-box-b
{
    border-left: solid 1px #e1e1e1;
    margin-left: -1px;
}

.colla-img
{
    display: block;
    overflow: hidden;
    width: 100%;
}

.colla-content
{
    color: #969696;
    font-family: Calibri;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
}

.item-border-bottom {
    border-bottom: solid 1px #e1e1e1;
    padding: 20px 0;
}

.link-b
{
    margin: 0 0 10px;
}

.link-b a
{
    background: url(../images/icon-5.png) no-repeat left center;
    color: #c2920e;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 15px;
}

.colla-name
{
    margin: 0;
}

.colla-name a
{
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

.colla-content .description
{
    margin: 10px 0 0;
}

.colla-bottom
{
    width: 100%;
}

.colla-bottom span
{
    color: #adadad;
    display: inline-block;
    font-size: 12px;
    padding-left: 15px;
    line-height: 20px;
    margin-right: 10px;
    min-width: 50px;
}

.colla-bottom .admin
{
    background: url(../images/icon-b-1.png) no-repeat left center;
}

.colla-bottom .date
{
    background: url(../images/icon-b-2.png) no-repeat left center;
}
/*=========*/
.box-res
{
    background: #000 url(../images/b-r.png) no-repeat right top;
    border-bottom: solid 5px #e2e2e2;
    padding: 15px 30px;
    position: relative;
}

.box-res h2
{
    color: #b4b4b4;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    position: relative;
    z-index: 1;
}

.box-res h2 strong
{
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.box-res h2 span
{
    font-style: italic;
}

.box-res .more-gis
{
    bottom: 10px;
    right: 0;
    position: absolute;
    margin: 0;
    z-index: 99;
}

.box-res .more-gis a
{
    background: #f88f07;
    color: #fff;
    height: 18px;
    line-height: 18px;
    text-transform: uppercase;
    width: auto;
    padding-right: 10px;
}
/*===========================*/
.asibar-slider ul
{
    margin: 0;
    padding: 0;
}

.title-b
{
    color: #323232;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 12px 0 20px;
    line-height: 24px;
}

.box-wp
{
    background: #f8f8f8;
    border: solid 1px #ddd;
    margin-top: 30px;
    padding: 8px;
}

.box-wp .list-experience
{
    color: #515151;
    font-family: Calibri;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.box-wp .list-experience li
{
    border-bottom: none;
    border-top: solid 1px #ddd;
}

.box-wp .list-experience .experience-name
{
    margin: 0;
}

.list-experience .exper-name
{
    margin: 0;
}

.list-experience .exper-name a
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.box-news
{
    border-top: solid 1px #ddd;
    overflow: hidden;
    padding: 10px 0 20px;
    width: 100%;
}

.news-bs
{
    padding: 15px 0;
}

.box-news .news-img
{
    display: block;
    margin-top: 10px;
    float: left;
    width: 80px;
}
.box-news .img50
{
    width: 50px;
}
.box-news .news-content
{
    color: #666;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    padding-left: 15px;
}

.box-news .news-content .p-list
{
    margin: 5px 0 0;
    padding-left: 20px;
}

.news-content .list-p1
{
    background: url(../images/icon-c-1.png) no-repeat left center;
}

.news-content .list-p2
{
    background: url(../images/icon-c-2.png) no-repeat left center;
}

.box-news .news-name, .box-news .news-names
{
    clear: both;
    margin: 0 0 5px;
}

.news-bs .news-content
{
    padding-left: 10px;
}

.box-news .news-names a
{
    color: #222;
    /*font-family: Calibri;*/
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.box-news .news-names a
{
    color: #515151;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}

.news-bs .colla-bottom
{
    line-height: 16px;
}

.box-s
{
    position: relative;
    width: 100%;
}

.box-s img
{
    position: relative;
    z-index: 1;
}

.box-s .box-scontent
{
    background: url(../images/o-p-1.png) repeat left top;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.box-s .box-scontent a
{
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 22px;
    padding: 5px;
}

.box-s .box-scontent a:hover
{
    text-decoration: none;
}

.asibar-slider
{
    clear: both;
    margin-top: 15px;
    width: 100%;
}
/*===========================*/
.title-c
{
    color: #000;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}

.list-nav
{
    margin: 0 0 25px;
    padding: 0;
    list-style: none;
    width: 100%;
}

.nav-line li
{
    border-bottom: solid 1px #fff;
}

.list-nav li a
{
    background: url(../images/icon-8.png) no-repeat 20px center;
    background-color: #e6e6e6;
    color: #000;
    display: block;
    font-family: Calibri;
    font-size: 18px;
    padding: 5px 0 5px 35px;
    line-height: 22px;
}

.list-nav li.active a, .list-nav li a:hover
{
    background-color: #2c2c2c;
    color: #fff;
    text-decoration: none;
}

.wrap-text, .wrap-text-2
{
    clear: both;
    overflow: hidden;
    width: 100%;
}


.wrap-text img, .wrap-text-2 img
{
    height: auto !important;
    max-width: 100%;
    width: auto !important;
}

.wrap-text-2
{
    margin: 0 auto;
    padding: 30px 0;
}
/*==========================*/
.box-show
{
    border: solid 1px #fff;
    box-shadow: 4px 4px 4px #dbdbdb; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
    -moz-box-shadow: 4px 4px 4px #dbdbdb; /* Firefox */
    -webkit-box-shadow: 4px 4px 4px #dbdbdb; /* Safari and Chrome */
    margin: 8px 8px 8px 0;
}

.box-read
{
    background: #ececec;
}

.read-name
{
    margin: 0;
}

.read-name a
{
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}

.box-read a:hover
{
    text-decoration: none;
}
/*===========*/
.wrap-detail .title
{
    text-transform: none;
}

.wrap-detail, .wrap-order, .wrap-comment
{
    overflow: hidden;
    width: 100%;
}

.wrap-order
{
    padding: 15px 0;
}

.order-title
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    line-height: 24px;
}

.wrap-comment .order-title
{
    border-bottom: solid 1px #ddd;
}

.list-order
{
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
}

.list-order li
{
    padding: 2px 0;
}

.list-order li a
{
    background: url(../images/icon-9.png) no-repeat 8px 8px;
    color: #595959;
    font-size: 13px;
    line-height: 20px;
    padding-left: 20px;
}
/*=============*/
.head-tit
{
    background: #d80000 url(../images/tit-bg.png) repeat-x left bottom;
    overflow: hidden;
    width: 100%;
}

.title-5
{
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
}

.head-tit .title-5
{
    float: left;
    padding: 4px 30px;
}

.link-all
{
    background: url(../images/icon-10.png) no-repeat right center;
    color: #fff;
    display: block;
    float: right;
    font-size: 11px;
    margin-right: 30px;
    line-height: 32px;
    padding-right: 15px;
    text-transform: uppercase;
}

.link-all:hover
{
    color: #fff;
    text-decoration: none;
}

.sknow-big
{
    margin: 25px 0 30px;
    width: 100%;
}

.sknow-img
{
    display: block;
    margin-top: 5px;
    width: 100%;
}

.sknow-content
{
    color: #595959;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
}

.sknow-name
{
    margin: 0;
}

.sknow-name a
{
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.sknow-name a:hover
{
    text-decoration: none;
}

.sknow-date
{
    color: #b3b2b2;
    font-size: 12px;
}

.sknow-content .like-box
{
    margin-bottom: 15px;
    width: 100%;
}
/*============================================*/
.wrap-boxa
{
    position: relative;
    width: 100%;
}

.boxa
{
    background: #eee;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.wrap-boxa .vhidden
{
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.wrap-boxa a:hover
{
    text-decoration: none;
}

.boxa span
{
    display: block;
}

.boxa .boxa-b
{
    background: #d7d7d7;
    float: right;
    text-align: center;
    width: 91px;
}

.boxa .boxa-b strong
{
    background: url(../images/icon-down.png) no-repeat center bottom;
    color: #2c2c2c;
    display: block;
    font-size: 11px;
    line-height: 18px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.boxa-w
{
    overflow: hidden;
    padding: 12px 15px;
}

.boxa .boxa-img
{
    float: left;
    width: 150px;
}

.boxa .boxa-content
{
    color: #222;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 18px;
}

.boxa-name
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px;
}

.more-add
{
    text-align: center;
    width: 100%;
}

.more-add a
{
    background-color: #000;
    border: solid 1px #ddd;
    color: #fff;
    display: inline-block;
    font-family: Calibri;
    font-size: 14px;
    line-height: 32px;
    width: 240px;
}

.more-add a:hover
{
    text-decoration: none;
}
/*=============*/
.main-2 .wrap-asibar
{
    margin: 0;
}

.wrap-asibar
{
    padding-top: 52px;
}

.wrap-section-b
{
    margin-right: 11px;
}

.wrap-asibar .box-works
{
    float: none;
    width: 100%;
}

.wrap-asibar .works-bb .works-bc
{
    background: url(../images/box-left-2.png) no-repeat scroll left bottom;
    padding-left: 27px;
}

.wrap-asibar .works-bl .works-br
{
    padding-right: 19px;
}

.box-list
{
    background: #ebeef3;
    width: 100%;
}

.wrap-asibar .works-content
{
    padding-left: 0;
    padding-right: 0;
}

.art-content .articles-content
{
    padding: 0;
    line-height: 18px;
}

.art-content .articles-content p
{
    padding: 3px 0;
}

.title-d
{
    background-color: #6079ab;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    width: 100%;
}

.box-ab
{
    padding: 0 7px;
}

.box-art
{
    border-bottom: solid 1px #c3c9d4;
    padding: 20px 0;
    overflow: hidden;
    width: 100%;
}

.box-art.last
{
    border: none;
}

.box-art .art-img
{
    display: block;
    margin-top: 3px;
    float: left;
    position: relative;
    overflow: hidden;
    width: 100px;
}

.box-art .text-art img
{
    position: relative;
    z-index: 1;
}

.box-art .text-art
{
    background: url(../images/o-p-1.png) repeat left top;
    color: #fff;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.box-art .text-art strong
{
    display: block;
}

.art-content
{
    color: #777;
    font-size: 12px;
    overflow: hidden;
    padding-left: 10px;
}

.hot-see
{
    background: url(../images/icon-11.png) no-repeat left 5px;
    margin: 3px 0;
    padding-left: 20px;
}

.hot-see strong
{
    color: #fe6d4c;
    font-size: 14px;
    font-weight: bold;
}

.art-name
{
    margin: 0;
}

.art-name a
{
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
/*==================*/
.title-6
{
    color: #2d2d2d;
    font-size: 22px;
    margin: 0 0 5px;
    overflow: hidden;
    line-height: 32px;
    width: 100%;
}

.title-6 span
{
    font-weight: bold;
    background: url(../images/icon-12.png) no-repeat right center;
    display: block;
    float: left;
    padding-right: 56px;
}

.head-b
{
    color: #6a6a6a;
    font-size: 14px;
    overflow: hidden;
    line-height: 24px;
    padding: 5px 0;
    width: 100%;
}

.head-b.line
{
    border-bottom: solid 1px #e5e5e5;
}

.head-name
{
    background: url(../images/icon-14.png) no-repeat left center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 20px;
}

.head-name strong
{
    color: #000;
}

.head-b .like-boxb
{
    float: right;
    width: 300px;
}

.head-b .views
{
    background: url(../images/icon-11.png) no-repeat 7px center;
    display: inline-block;
    padding-left: 35px;
}

.head-b .views strong
{
    color: #fe6d4c;
}

.more-a, .more-b, .more-a1, .more-b1
{
    overflow: hidden;
    margin: 10px 0 0;
    width: 100%;
}
.more-a1
{
    text-align:right;
}
.more-a a
{
    background: url(../images/icon-13.png) no-repeat left center;
    color: #0eab2c;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: 600;
    padding-left: 35px;
    text-transform: uppercase;
    text-decoration: underline;
}
    .more-a a.btrung
    {
margin-right: 130px;
    }
.more-b a
{
    background: #e50c0c url(../images/bg-1.png) repeat-y right top;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    height: 29px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    width: 176px;
}
.more-b1 a
{
    background: #e50c0c url(../images/bg-1.png) repeat-y right top;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    height: 29px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    cursor:none;
    text-decoration:none;
}

.more-b a:hover
{
    text-decoration: none;
}

#boxab .slider-next, #boxab .slider-prev
{
    display: inline-block;
    width: 10px;
}

#boxab .bx-prev, #boxab .bx-next
{
    background: url(../images/control-pager.png) no-repeat left top;
    display: block;
    overflow: hidden;
    text-indent: 9999em;
    height: 20px;
    width: 10px;
}

#boxab .bx-prev
{
    background-position: 0 0;
}

#boxab .bx-prev:hover
{
    background-position: 0 -20px;
}

#boxab .bx-next
{
    background-position: -10px 0;
}

#boxab .bx-next:hover
{
    background-position: -10px -20px;
}

#boxab .pagerb
{
    margin: 0;
    overflow: hidden;
    padding-bottom: 15px;
    text-align: right;
    width: 100%;
}

#boxab .pagerb .slider-next, #boxab .pagerb .slider-prev
{
    margin: 0 10px;
}
/*=============================================*/
.watch-for-laughs
{
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.watch-for-laughs .box-articles
{
    border-bottom: solid 1px #e9e9e9;
    padding: 15px 5px;
    margin: 0;
}

.pager
{
    text-align: center;
    width: 100%;
}

.pager a
{
    background: #c3c3c3;
    color: #000;
    display: inline-block;
    font-family: Calibri;
    font-size: 14px;
    padding: 0 5px;
    min-width: 25px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    text-align: center;
}

.pager a.current, .pager a:hover
{
    background: #000;
    color: #fff;
    text-decoration: none;
}
/*=============*/
#laughs
{
    padding-top: 25px;
}

.head-b .site-node
{
    margin: 0;
    float: left;
    width: 200px;
}

.box-upload
{
    color: #e70404;
    float: right;
    font-size: 12px;
    line-height: 28px;
    text-align: left;
    width: 920px;
}

.box-upload .upn
{
    display: block;
    text-align: left;
    overflow: hidden;
}

.upload-a
{
    background: url(../images/bg-2.png) repeat-y right top;
    display: block;
    float: right;
}

.upload-a span
{
    background: url(../images/icon-15.png) no-repeat left center;
    -moz-box-sizing: initial; /* Firefox 1, probably can drop this */
    -webkit-box-sizing: initial; /* Safari 3-4, also probably droppable */
    box-sizing: initial; /* Everything else */
    color: #fff;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 26px;
    width: 187px;
}
/*=============*/
.head-menu
{
    padding: 15px 0;
    width: 100%;
}

.head-menu .site-node
{
    margin: 0;
}

.head-menu .t-icon, .head-menu .title a
{
    background: url(../images/icon-16.png) no-repeat left center;
    font-size: 24px;
    padding-left: 30px;
    line-height: 36px;
}

.menu-tabs
{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-tabs li
{
    float: left;
    padding-bottom: 1px;
    width: 50%;
}

.menu-tabs li a
{
    background: #f4f4f4;
    color: #6e6e6e;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
    margin-right: 4px;
    padding: 0 15px;
}

.menu-tabs li.active a, .menu-tabs li a:hover
{
    background: #000;
    color: #fff;
    text-decoration: none;
}

.list-filter
{
    color: #a4a4a4;
    font-family: Calibri;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
}

.list-filter label
{
    display: inline-block;
    padding-left: 5px;
    padding-right: 24px;
}

.list-filter td:hover
{
    color: #000;
}
/*============*/
.box-adv
{
    margin-bottom: 15px;
}

.news-box .colla-box
{
    border-left: solid 1px #e1e1e1;
    margin-left: -1px;
    padding: 20px;
}

.news-box .colla-img
{
    float: left;
    margin-top: 5px;
    overflow: hidden;
    width: 35%;
}

.news-box .colla-content
{
    overflow: hidden;
    padding: 0 0 0 15px;
}

.colla-name a
{
    word-spacing: -1px;
}
/*==========*/
.box-res .link-popup
{
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 99;
}

.text-box, .info-text
{
    width: 100%;
}

.text-box img, .info-text img
{
    max-width: 100%;
    height: auto;
    width: auto;
}

.info-text .more-read, .info-text .read-less
{
    text-align: left;
}
/*=========*/
.tabs-group .panel-default
{
    border: none;
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    box-shadow: none; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
    -moz-box-shadow: none; /* Firefox */
    -webkit-box-shadow: none; /* Safari and Chrome */
}

#accordion2 .panel-default
{
    margin-top: 14px;
}

.tabs-group .panel-heading
{
    background: #e6e6e6;
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    padding: 0;
}

.tabs-group .panel-heading a
{
    color: #000;
    display: block; /*font-family: Calibri;*/
    font-size: 22px;
    padding: 0 20px;
    line-height: 32px;
    position: relative;
}

.tabs-group .tabs-name
{
    display: block;
    padding-left: 20px;
}

.tabs-group .tabs-name strong
{
    display: inline-block;
    margin-right: 10px;
}

.tabs-group .panel-heading.active
{
    background: #000;
}

.tabs-group .panel-heading.active a
{
    color: #fff;
}

.tabs-group .panel-heading.active .tabs-name
{
    padding-left: 0;
}

.tabs-group .panel-heading .tabs-icon
{
    background: url(../images/icon-up.png) no-repeat center top;
    display: block;
    height: 10px;
    right: 25px;
    margin-top: -5px;
    top: 50%;
    position: absolute;
    width: 30px;
}

.tabs-group .panel-body
{
    border: none;
}
/*=============*/
.box-m
{
    margin-bottom: 15px !important;
}

.send-login .form-group
{
    overflow: hidden;
    margin-bottom: 10px;
}

.popuplogin .modal-header
{
    background: #18840d;
    border: none;
    padding: 4px 15px;
}

.popuplogin .modal-header .modal-title
{
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    text-transform: none;
}

.p-tit
{
    color: #414141;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    word-spacing: -1px;
}

.p-node
{
    color: #154c69;
    font-size: 13px;
    line-height: 22px;
}

.p-node a
{
    color: #007dbe;
    font-size: 13px;
    font-weight: bold;
}

.register-box, .login-box
{
    padding: 45px 0;
}

.login-box
{
    padding-right: 28px;
}

.register-box
{
    border-left: solid 1px #ddd;
    padding-left: 28px;
}

.popuplogin .modal-body
{
    padding: 1px 15px;
}

.register-box .p-node
{
    font-style: italic;
}

.login-box .p-node
{
    border-top: solid 1px #ddd;
    padding: 20px 0;
}

.login-box .send-login
{
    padding: 40px 0 25px;
}

.register-box .send-login
{
    padding-top: 15px;
}

.popuplogin .close
{
    color: #fff;
    opacity: 1;
}
/*=========*/
.boxm-b
{
    width: 100%;
}

.boxm-b .description
{
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    width: 100%;
}

.boxm-b .boxm-img
{
    position: relative;
    width: 100%;
}

.boxm-video
{
    /*height: 400px;*/
}

.boxm-b .boxm-img img
{
    position: relative;
    width: 100% !important;
    z-index: 1;
}

.boxm-mask
{
    background: #000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    opacity: .8;
    z-index: 5;
}

.boxm-text
{
    left: 0;
    top: 50%;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.boxm-text .in-text
{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0 20px;
}
/*==========*/
.laughs-ivt
{
    padding-bottom: 30px;
    margin: 0 35px;
}

.laughs-ivt .box-articles
{
    margin: 4px;
}
/*========*/
.head-img
{
    padding-top: 0;
}

.head-img .pager
{
    text-align: right;
}

.head-img .pager a
{
    margin: 0 1px;
}

.head-img .title
{
    background: url(../images/icon-img.png) no-repeat 24px center;
    font-size: 24px;
    font-weight: normal;
    padding-left: 58px;
}

.go-for-laughs
{
    width: 100%;
}

.go-for-laughs .box-articles
{
    margin: 1px;
}
/*=============*/
.news-main
{
    width: 100%;
}

.news-main .news-bwrap
{
    background: #f9fdfd;
    border: solid 1px #f9fdfd;
}

.news-main .big-news
{
    border: none;
    padding: 0;
    margin: 15px;
}

.news-main .box-newsl
{
    border: none;
    border-bottom: solid 1px #dcdcdc;
    padding: 25px 13px;
}

.newsc
{
    border: solid 1px #dcdcdc;
    margin-left: 10px;
}

.newsd
{
    border-right: solid 1px #dcdcdc;
}

.newsc .news-list
{
    padding: 0 8px;
}

.wrapper-group
{
    margin: 0 -13px;
    padding: 45px 0 10px;
}

.newsb-wrap
{
    border: solid 1px #f3f3f3;
    margin: 13px;
}

.title-news
{
    background: #f3f3f3;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.title-news a
{
    background: url(../images/icon-10.png) no-repeat 24px center;
    color: #f15820;
    display: block;
    font-size: 14px;
    padding-left: 35px;
    text-transform: uppercase;
    line-height: 32px;
}

.title-news a:hover
{
    text-decoration: none;
}

.newsb-box
{
    padding: 20px;
}

.newsb
{
    overflow: hidden;
    margin-right: 20px;
}

.newsb .news-img
{
    float: left;
    margin-top: 5px;
    width: 43%;
}

.newsb .news-content
{
    color: #545454;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    padding-left: 10px;
}

.newsb .news-smmall
{
    padding: 3px 0;
}

.newsb .news-name
{
    margin: 0;
}

.newsb .news-name a
{
    color: #4f4f4f;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}

.news-list li.last, .box-newsl.last
{
    border: none;
}
/*===========footer==============*/
#footer
{
    background: #000;
    width: 100%;
}

#footer p, .list-footer li
{
    margin: 0 0 3px;
}

#footer-wrap
{
    background: url(../images/footer-bg.jpg) no-repeat center bottom;
    padding: 18px 0;
}
#footer-content, #footer-content a
{
    color: #605f5f;
    font-size: 11px;
    line-height: 16px;
}

#footer .copyright, #footer .copyright a
{
    color: #636363;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
#footer-content .copyright
{
    color: #636363;
    font-size: 12px;
    font-style: italic;
}
#footer-content .copyright
{
    text-align: left;
}
#footer-content .footer-lo
{
    margin: 10px 0;
}

#footer-content h2
{
    color: #8f8f8f;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.list-footer
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-footer li a
{
    background: url(../images/icon-4.png) no-repeat left 5px;
    display: inline-block;
    padding-left: 11px;
}

#address .box-footer
{
    margin-left: 12px;
}

.watch-flaughs .wrap-content
{
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
}

.watch-flaughs .box-articles
{
    margin-right: 20px;
    width: auto;
}

.wrap-radio
{
    background: #f5f5f5;
    padding: 5px 0;
    margin: 10px 0;
}

.pager
{
    text-align: center;
    width: 100%;
}

.pager a, .pager .numer-paging
{
    background: #c3c3c3;
    color: #000;
    display: inline-block;
    font-family: Calibri;
    font-size: 14px;
    padding: 0 5px;
    min-width: 25px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    text-align: center;
}

.pager .current, .pager a:hover
{
    display: inline-block;
    font-family: Calibri;
    font-size: 14px;
    padding: 0 5px;
    min-width: 25px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    text-align: center;
    background: #000;
    color: #fff;
    text-decoration: none;
}
#wnews-detail
{
    height: auto !important;
}
.holder
{
    text-align: center;
    margin-top: 30px;
    width: 100%;
}
.holder a
{
    background: #c3c3c3;
    color: #000;
    display: inline-block;
    font-family: Calibri;
    font-size: 14px;
    padding: 0 5px;
    min-width: 25px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    text-align: center;
}
.holder a.jp-current, a.jp-current:hover, .holder a:hover
{
    display: inline-block;
    font-family: Calibri;
    font-size: 14px;
    padding: 0 5px;
    min-width: 25px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    text-align: center;
    background: #000;
    color: #fff;
    text-decoration: none;
}
/*=========================*/
.boxbar-rand
{
    border: solid 4px #e1eaed;
    margin-bottom: 12px;
}

.boxbar-rand h2
{
    background: #e1eaed;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
    line-height: 30px;
}

.list-rand
{
    clear: both;
    list-style: none;
    padding: 0;
    margin: 5px 10px;
}

.list-rand li
{
    border-bottom: solid 1px #efefef;
    padding: 5px 0;
}

.list-rand li a
{
    color: #0b5087;
    display: block;
    font-size: 12px;
    line-height: 18px;
}

.boxbar-list
{
    border: solid 1px #efefef;
    padding: 8px;
}

.box-newsg
{
    background: url(../images/icon-7.png) no-repeat left 16px;
    border-bottom: solid 1px #efefef;
    color: #545454;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 0 10px 12px;
    width: auto;
}

.box-newsg .news-name
{
    margin: 0;
}

.box-newsg .news-name a
{
    display: block;
    color: #4f4f4f;
    font-size: 13px;
    line-height: 18px;
}

.box-newsg .news-smmall
{
    padding: 3px 0 5px;
}

.detail-news, .news-dbox
{
    overflow: hidden;
    width: 100%;
}

.detail-news
{
    margin-top: 25px;
}

.news-dbox
{
    border-bottom: solid 1px #efefef;
    padding: 15px 0 20px;
}

.news-dbox .news-img
{
    display: block;
    float: left;
    margin: 5px 25px 0 10px;
    width: 28%;
}

.news-dbox .news-content
{
    color: #545454;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
}

.news-dbox .news-name
{
    margin: 0;
}

.news-dbox .news-name a
{
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.list-rand li.last, .boxbar-list .box-newsg.last, .detail-news .news-dbox.last
{
    border: none;
}

.tit-icon img
{
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
    max-height: 28px;
    max-width: 32px;
}

.wup-load .wrap-radio
{
    overflow: hidden;
}

.wrap-radio .form-group
{
    margin: 0;
}

.wrap-radio .control-label
{
    font-size: 14px;
    font-style: italic;
    text-align: right;
    line-height: 24px;
}

.wrap-radio .check-list
{
    margin-left: 20px;
}

.send-upload
{
    padding: 40px 0 20px;
}

.send-upload .send-login
{
    padding: 0 50px;
}

.file-upload p
{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}

.wup-load .modal-title
{
    text-align: center;
}

.wup-load .send-upload
{
    margin: 0 auto;
    max-width: 768px;
}

.content-textd
{
    color: #555;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 10px;
    width: 100%;
}

.check-a
{
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}

.check-a label
{
    margin-left: 5px;
}

.modal-footer
{
    text-align: center;
}

.popupbox .modal-header
{
    background: #18840d;
    padding: 5px 10px 8px;
}

.popupbox .modal-header .modal-title
{
    color: #fff;
}

.popupbox .close
{
    color: #fff;
    opacity: 1;
}

.title-7
{
    color: #be661f;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
}

.node-game
{
    color: #292929;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.wrap-text-game
{
    color: #000;
    font-size: 14px;
    line-height: 28px;
    padding: 10px 0;
    width: 100%;
}

.wrap-text-game h2
{
    background: url(../images/icon-18.png) no-repeat 12px 7px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 30px;
    margin: 15px 0;
}

.wrap-text-game p
{
    padding: 0 30px;
    margin: 0;
}

.wrap-text-game img
{
    height: auto !important;
    max-width: 100%;
    width: auto !important;
}

.awards ul
{
    list-style: none;
}

.awards ul li
{
    background: url(../images/icon-8.png) no-repeat left 10px;
    color: #204486;
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
}

.more-games
{
    text-align: center;
    margin: 0;
    width: 100%;
}

.more-games .btn-starts
{
    background: #e40000 url(../images/bg-4.png) repeat-y right top;
    text-transform: uppercase;
    position: relative;
    height: 42px;
    line-height: 42px;
    width: 300px;
}

.more-games a, .more-games span
{
    border: none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.more-games span
{
    display: none;
}

.more-games a:hover
{
    text-decoration: none;
}

.head-game
{
    background: #f2f2f2;
    padding: 12px 0;
}

.head-game h3
{
    font-size: 12px;
    margin: 0;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
}

.head-game .more-games
{
    background: url(../images/icon-2b.png) no-repeat left center;
    padding-left: 96px;
}

.head-game .more-games a
{
    margin: 0;
}

.game-text
{
    color: #000;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    margin: 0 auto;
    width: 100%;
}
.game-text .game-title
{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
}
.game-text .game-title .game-num
{
    text-decoration: underline;
}
.game-contents
{
    width: 100%;
}
.game-contents img
{
    display: block;
    margin: 0 auto;
    height: auto !important;
    max-width: 100%;
    width: auto !important;
}
.anwer-game
{
    margin: 0 auto 15px;
    width: 100%;
}

.anwer-game table
{
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

.list-radio
{
    list-style: none;
    width: 100%;
}
.list-radio li
{
    float: left;
}
.anwer-game td
{
    padding: 5px 20px;
}

.anwer-game td input, .list-radio li input
{
    display: none;
}

.anwer-game td.current, .list-radio li.current
{
    background: #ffd401;
}

.anwer-game td label, .list-radio li label
{
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.anwer-game td label strong, .anwer-game td label span, .list-radio li label strong.i-name, .list-radio li label span.i-cham
{
    display: block;
    float: left;
}
.list-radio li label .i-content
{
    display: block;
    overflow: hidden;
}
.anwer-game td label span, .list-radio li label span
{
    margin-right: 5px;
}
#time-ms
{
    visibility: visible;
    top: -9999em;
    left: -9999em;
    position: fixed;
    z-index: -1;
}
.anwer-game
{
    color: #000;
    font-size: 16px;
    line-height: 24px;
}

#ques-btn
{
    background: #000;
    border: solid 3px #ffd401;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    height: 40px;
    width: 170px;
}

#ques-btn .box-ques
{
    -webkit-box-sizing: initial; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: initial; /* Firefox, other Gecko */
    box-sizing: initial; /* Opera/IE 8+ */
    height: 40px;
    position: relative;
    margin: 0;
    width: 170px;
}

#ques-btn .btn-link, #ques-btn .result, #ques-btn .mask-ques, #ques-btn .end-time
{
    background: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    height: 40px;
    line-height: 36px;
    text-transform: uppercase;
    width: 170px;
    z-index: 5;
}

#ques-btn .btn-link span
{
    background: url(../images/icon-17b.png) no-repeat 130px center;
    color: #fff;
    display: block;
    padding-left: 25px;
    text-align: left;
    width: 170px;
}
#ques-btn .btn-link
{
    z-index: 7;
}
#ques-btn .btn-link:visited, #ques-btn .btn-link:focus, #ques-btn .btn-link:hover
{
    text-decoration: none;
    border: none;
}
#ques-btn .end-time
{
    display: none;
    z-index: 10;
}
#ques-btn .result
{
    background: #e40000;
    display: none;
    z-index: 4;
}

.head-clock
{
    color: #363636;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.head-clock h4
{
    color: #363636;
    font-size: 14px;
    font-weight: bold;
}

.wrap-block
{
    background: #000;
    overflow: hidden;
    margin: auto;
    height: 62px;
    width: 125px;
}

#dateimg
{
    clear: both;
    margin: 15px auto;
    height: 32px;
    width: 105px;
}

#dateimg img
{
    vertical-align: top;
    height: 32px;
    width: 20px;
}

#dateimg .cham
{
    color: #ffc610;
    font-size: 20px;
    line-height: 32px;
    margin: 0 3px;
    width: 5px;
}

#wrapgame
{
    overflow: hidden;
    visibility: hidden;
    width: 100%;
}

.contact .form-group
{
    overflow: hidden;
}

.contact .form-group .form-group
{
    margin: 0;
}

.contact .text-input
{
    padding: 0 5px;
}

.address-company
{
    padding-right: 50px;
}

.contact, .contact .address-company a
{
    color: #555;
    font-size: 14px;
    line-height: 18px;
}

.contact
{
    width: 100%;
}

.contact .address-company, .contact .send-mail
{
    font-style: italic;
}

.contact .bnt-button
{
    background: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    height: 40px;
    width: 140px;
}

.send-mail .form-control
{
    background: #f9f9f9;
    border: solid 1px #c3c3c3;
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    box-shadow: none; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
    -moz-box-shadow: none; /* Firefox */
    -webkit-box-shadow: none; /* Safari and Chrome */
    color: #555;
}

.send-mail .textnd
{
    resize: none;
    height: 140px;
}

.contact .title-cd
{
    color: #181818;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 10px;
}
/*====map*/
.contact .wrap-map
{
    
    padding: 2px;
    margin-bottom: 30px;
}

.contact .map
{
    height: 450px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.map .map-content
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -190px;
    height: 450px;
    width: 1200px;
    border: solid 1px #dadada;
}

.map #map
{
    height: 450px;
    font-size: 12px;
}

.map #map .box
{
    width: 320px;
}

.contact .map h2
{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 0;
}

.contact .map a
{
    color: #333;
    font-size: 12px;
}

.contact .map a:hover
{
    text-decoration: none;
}

#map .box p
{
    margin: 0;
}
/*=============================================*/
.popupgame .modal-content
{
    background: none;
    border-radius: 20px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari and Chrome */
    padding: 5px;
    text-align: center;
}

.popupgame .box-l
{
    background: #fff url(../images/bp-l.png) repeat-y left top;
    border-radius: 20px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari and Chrome */
    position: relative;
    z-index: 1;
}

.popupgame .box-r
{
    background: url(../images/bp-l.png) repeat-y right top;
    border-radius: 20px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari and Chrome */
}

.popupgame .box-bb
{
    background: url(../images/bp-bb.png) repeat-x left bottom;
    border-radius: 20px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari and Chrome */
}

.popupgame .box-bl
{
    background: url(../images/bp-bl.png) no-repeat left bottom;
    border-radius: 20px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari and Chrome */
}

.popupgame .box-br
{
    background: url(../images/bp-br.png) no-repeat right bottom;
    border-radius: 20px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari and Chrome */
    padding: 20px 20px 40px;
}

.more-gamesp a
{
    background: #e40000 url(../images/bg-4.png) repeat-y right top;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    height: 42px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

.more-gamesp a:hover
{
    text-decoration: none;
}

.popupgame .node-game
{
    margin: 5px 0 10px;
}

.thi1
{
    text-align: center;
}

.thi1 a
{
    color: #00a84b;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 22px;
}

.popupgame .close
{
    color: #000;
    font-size: 20px;
    right: 30px;
    top: 20px;
    position: absolute;
    opacity: 1;
    z-index: 10;
}

.mtc-1
{
    color: #f15820 !important;
}

.mtc-2
{
    color: #1fb24b !important;
}

.mtc-3
{
    color: #2454a6 !important;
}

.mtc-4
{
    color: #f68c24 !important;
}

.mtc-5
{
    color: #0aa1df !important;
}

.mtc-6
{
    color: #95af0a !important;
}

.mtc-7
{
    color: #4264af !important;
}

.mtc-8
{
    color: #73d0f6 !important;
}

.mtc-9
{
    color: #1bb047 !important;
}

.mtc-10
{
    color: #ffe200 !important;
}

#footer-fabook
{
    overflow: hidden;
}

.studybox
{
    margin: 0 15px;
    text-align: center;
}

.studybox .newline .box-aques
{
    background: #000;
    border-color: #000;
}

.studybox .md .box-aques
{
    background-color: #ed1c24;
    border-color: #ed1c24;
}

.studybox .mv .box-aques
{
    background-color: #fcbb09;
    border-color: #fcbb09;
}

.studybox .mx .box-aques
{
    background-color: #81d5f7;
    border-color: #81d5f7;
}

.studybox .ml .box-aques
{
    background-color: #c1e125;
    border-color: #c1e125;
}

.more-d
{
    width: 100%;
}

.more-d a
{
    background: url(../images/icon-2.png) no-repeat left center;
    display: block;
    margin: 0 auto;
    width: 137px;
}

.more-d a span
{
    background: url(../images/click-bg.png) no-repeat right top;
    color: #fff;
    display: block;
    font-size: 11px;
    margin-left: 33px;
    padding-top: 7px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 12px;
}

.more-d a:hover
{
    text-decoration: none;
}

.wrap-w
{
    padding: 10px 15px 20px;
    width: 100%;
}
.content-info .description .more-read
{
    text-align: left;
}


#ques-btn .box-ques a:hover, #ques-btn .box-ques a:hover span
{
    text-decoration: none;
}

#game-contentp
{
    font-size: 14px;
    font-size: 16px;
    line-height: 22px;
}
#gameassess .modal-title
{
    font-size: 18px;
}
#game-contentp strong, #game-contentp h5
{
    color: #000;
}
#game-contentp h4
{
    color: #ed1c24;
    font-size: 20px;
}
#game-contentp h5
{
    font-size: 16px;
}

.failureNotification
{
    color: red;
    padding-top: 10px;
    display: block;
}

.footer-dk a
{
    background: url(../images/menu-line.png) no-repeat left center;
    display: inline-block;
    padding-left: 6px;
    padding-right: 3px;
}
.footer-dk a.first
{
    background: none;
    padding-left: 0;
}
.text-mobile .read-more
{
    font-weight: normal;
    word-spacing: 1px;
}
.text-mobile .read-more .more-read
{
    display: none;
}
.pagerde
{
    overflow: hidden;
    padding: 15px 0 25px;
    width: 100%;
}
.pagerde .prev
{
    display: block;
    float: left;
}
.pagerde .next
{
    display: block;
    float: right;
}
#boxcat
{
    margin: 0;
}
.description .more-detail
{
    display: inline !important;
}