﻿.b-b-1, .b-b-2, .b-b-3, .icon-4, .icon-5, .icon-6, .icon-7, .icon-8, .icon-10, .icon-9, .icon-11, .icon-14, .icon-18, .line-1, .menu-line, .o-p-1, .o-p-2, .o-p-3, .menu-line, .m-line, .icon-up, .icon-c-2, .icon-down, .icon-17, .icon-17b, .icon-add, .icon-b-1, .icon-b-2, .icon-c-1, .icon-c-2, .header-bgg, .b-r, .bx_loader, .control-pager, .control-sl, .header-bg, .box-right, .box-right-1, .box-right-2, .w-bg, .bg-1, .bg-2, .bg-3, .bg-4, .box-center, .box-left, .box-left-1, .box-left-2, .btn-bg, .bg_play_pause, .boxa-bottom, .boxa-btn, .boxa-left, .boxa-right, .boxa-top, .box-bottom, .box-bottom-1, .box-center, .box-top, .box-top-1, .bp-bb, .bp-bl, .bp-br, .bp-l, .bp-r, .btn-bg, .click-bg, .controls, .footer-bg, .Gosmart, .icon_new_1, .icon_new_2, .icon-1, .icon-2, .icon-2b, .icon-12, .icon-16, .icon-13, .icon-15, .icon-img, .icon-img-1, .icon-lay, .icon-lay2, .icon-new, .icon-text, .img-f, .img-f-1, .img-f-1, .img-f-2, .logo, .logo, .search-btn, .tit-bg, .w-bg, .bg{
	background: url(../images/sprites.png) no-repeat;
}

.b-b-1{
	background-position: -1px -1px ;
	width: 57px;
	height: 15px;
}

.b-b-2{
	background-position: 0 -16px ;
	width: 57px;
	height: 15px;
}

.b-b-3{
	background-position: 0 -34px ;
	width: 57px;
	height: 15px;
}

.icon-4{
	background-position: -154px -6px ;
	width: 4px;
	height: 7px;
}

.icon-5{
	background-position: -163px -6px ;
	width: 7px;
	height: 7px;
}

.icon-6{
	background-position: -177px -6px ;
	width: 7px;
	height: 7px;
}

.icon-7{
	background-position: -154px -18px ;
	width: 4px;
	height: 7px;
}

.icon-8{
	background-position: -153px -31px ;
	width: 5px;
	height: 8px;
}

.icon-10{
	background-position: -153px -42px ;
	width: 4px;
	height: 8px;
}

.icon-9{
	background-position: -188px -7px ;
	width: 4px;
	height: 4px;
}

.icon-11{
	background-position: -162px -19px ;
	width: 15px;
	height: 9px;
}

.icon-14{
	background-position: -182px -22px ;
	width: 4px;
	height: 4px;
}

.icon-18{
	background-position: -166px -35px ;
	width: 8px;
	height: 8px;
}

.line-1{
	background-position: -169px -47px ;
	width: 2px;
	height: 1px;
}

.menu-line{
	background-position: -180px -33px ;
	width: 1px;
	height: 10px;
}

.o-p-1{
	background-position: -193px -23px ;
	width: 3px;
	height: 3px;
}

.o-p-2{
	background-position: -186px -35px ;
	width: 4px;
	height: 4px;
}

.o-p-3{
	background-position: -186px -43px ;
	width: 7px;
	height: 6px;
}

.menu-line{
	background-position: -23px -1px ;
	width: 1px;
	height: 10px;
}

.m-line{
	background-position: -23px -17px ;
	width: 1px;
	height: 14px;
}

.icon-up{
	background-position: -23px -37px ;
	width: 20px;
	height: 10px;
}

.icon-c-2{
	background-position: -35px -3px ;
	width: 11px;
	height: 12px;
}

.icon-down{
	background-position: -28px -21px ;
	width: 20px;
	height: 10px;
}

.icon-17{
	background-position: -53px -5px ;
	width: 10px;
	height: 5px;
}

.icon-17b{
	background-position: -54px -14px ;
	width: 17px;
	height: 5px;
}

.icon-add{
	background-position: -53px -28px ;
	width: 13px;
	height: 13px;
}

.icon-b-1{
	background-position: -80px -3px ;
	width: 14px;
	height: 16px;
}

.icon-b-2{
	background-position: -81px -21px ;
	width: 14px;
	height: 13px;
}

.icon-c-1{
	background-position: -83px -36px ;
	width: 12px;
	height: 12px;
}

.icon-c-2{
	background-position: -103px -2px ;
	width: 11px;
	height: 12px;
}

.header-bgg{
	background-position: -72px -43px ;
	width: 3px;
	height: 3px;
}

.b-r{
	background-position: -203px -1px ;
	width: 28px;
	height: 28px;
}

.bx_loader{
	background-position: -109px -17px ;
	width: 32px;
	height: 32px;
}

.control-pager{
	background-position: -9px -116px ;
	width: 20px;
	height: 40px;
}

.control-sl{
	background-position: -4px -53px ;
	width: 32px;
	height: 60px;
}

.header-bg{
	background-position: -43px -54px ;
	width: 3px;
	height: 104px;
}

.box-right{
	background-position: -54px -54px ;
	width: 8px;
	height: 235px;
}

.box-right-1{
	background-position: -71px -55px ;
	width: 8px;
	height: 235px;
}

.box-right-2{
	background-position: -87px -55px ;
	width: 8px;
	height: 235px;
}

.w-bg{
	background-position: -106px -50px ;
	width: 2px;
	height: 260px;
}

.bg-1{
	background-position: -5px -324px ;
	width: 176px;
	height: 3px;
}

.bg-2{
	background-position: -6px -333px ;
	width: 187px;
	height: 2px;
}

.bg-3{
	background-position: -6px -341px ;
	width: 102px;
	height: 2px;
}

.bg-4{
	background-position: -6px -348px ;
	width: 302px;
	height: 3px;
}

.box-center{
	background-position: -114px -54px ;
	width: 5px;
	height: 235px;
}

.box-left{
	background-position: -125px -54px ;
	width: 36px;
	height: 235px;
}

.box-left-1{
	background-position: -166px -55px ;
	width: 36px;
	height: 235px;
}

.box-left-2{
	background-position: -210px -53px ;
	width: 27px;
	height: 235px;
}

.btn-bg{
	background-position: -6px -356px ;
	width: 187px;
	height: 28px;
}

.bg_play_pause{
	background-position: -241px -3px ;
	width: 57px;
	height: 27px;
}

.boxa-bottom{
	background-position: -7px -389px ;
	width: 162px;
	height: 28px;
}

.boxa-btn{
	background-position: -301px -5px ;
	width: 63px;
	height: 23px;
}

.boxa-left{
	background-position: -261px -55px ;
	width: 43px;
	height: 166px;
}

.boxa-right{
	background-position: -315px -55px ;
	width: 72px;
	height: 166px;
}

.boxa-top{
	background-position: -9px -422px ;
	width: 277px;
	height: 78px;
}

.box-bottom{
	background-position: -258px -227px ;
	width: 270px;
	height: 108px;
}

.box-bottom-1{
	background-position: -253px -358px ;
	width: 274px;
	height: 108px;
}

.box-center{
	background-position: -248px -56px ;
	width: 5px;
	height: 235px;
}

.box-top{
	background-position: -6px -510px ;
	width: 233px;
	height: 152px;
}

.box-top-1{
	background-position: -250px -507px ;
	width: 233px;
	height: 152px;
}

.bp-bb{
	background-position: -375px -5px ;
	width: 60px;
	height: 30px;
}

.bp-bl{
	background-position: -401px -57px ;
	width: 24px;
	height: 30px;
}

.bp-br{
	background-position: -401px -96px ;
	width: 36px;
	height: 30px;
}

.bp-l{
	background-position: -444px -8px ;
	width: 7px;
	height: 65px;
}

.bp-r{
	background-position: -445px -81px ;
	width: 7px;
	height: 65px;
}

.btn-bg{
	background-position: -315px -469px ;
	width: 187px;
	height: 28px;
}

.click-bg{
	background-position: -401px -154px ;
	width: 104px;
	height: 27px;
}

.controls{
	background-position: -463px -8px ;
	width: 96px;
	height: 63px;
}

.footer-bg{
	background-position: -7px -710px ;
	width: 980px;
	height: 308px;
}

.Gosmart{
	background-position: -538px -79px ;
	width: 135px;
	height: 209px;
}

.icon_new_1{
	background-position: -565px -5px ;
	width: 42px;
	height: 24px;
}

.icon_new_2{
	background-position: -572px -38px ;
	width: 29px;
	height: 19px;
}

.icon-1{
	background-position: -614px -6px ;
	width: 54px;
	height: 27px;
}

.icon-2{
	background-position: -621px -40px ;
	width: 31px;
	height: 10px;
}

.icon-2b{
	background-position: -679px -6px ;
	width: 90px;
	height: 30px;
}

.icon-12{
	background-position: -466px -81px ;
	width: 26px;
	height: 26px;
}

.icon-16{
	background-position: -500px -82px ;
	width: 26px;
	height: 26px;
}

.icon-13{
	background-position: -623px -56px ;
	width: 28px;
	height: 9px;
}

.icon-15{
	background-position: -665px -39px ;
	width: 34px;
	height: 25px;
}

.icon-img{
	background-position: -468px -115px ;
	width: 20px;
	height: 16px;
}

.icon-img-1{
	background-position: -498px -115px ;
	width: 31px;
	height: 29px;
}

.icon-lay{
	background-position: -677px -72px ;
	width: 30px;
	height: 34px;
}

.icon-lay2{
	background-position: -678px -114px ;
	width: 30px;
	height: 34px;
}

.icon-new{
	background-position: -679px -155px ;
	width: 33px;
	height: 16px;
}

.icon-text{
	background-position: -675px -180px ;
	width: 29px;
	height: 26px;
}

.img-f{
	background-position: -542px -300px ;
	width: 143px;
	height: 39px;
}

.img-f-1{
	background-position: -540px -346px ;
	width: 240px;
	height: 80px;
}

.img-f-1{
	background-position: -541px -435px ;
	width: 240px;
	height: 80px;
}

.img-f-2{
	background-position: -541px -523px ;
	width: 253px;
	height: 80px;
}

.logo{
	background-position: -699px -212px ;
	width: 160px;
	height: 120px;
}

.logo{
	background-position: -717px -50px ;
	width: 87px;
	height: 65px;
}

.search-btn{
	background-position: -720px -124px ;
	width: 32px;
	height: 24px;
}

.tit-bg{
	background-position: -532px -77px ;
	width: 4px;
	height: 32px;
}

.w-bg{
	background-position: -808px -374px ;
	width: 2px;
	height: 260px;
}

.bg{
	background-position: -871px -4px ;
	width: 3px;
	height: 693px;
}

